
* {
    padding: 0;
    margin: 0;
}
::-webkit-input-placeholder {
  color: #777;
}
::-moz-placeholder {
  color: #777;
}
:-ms-input-placeholder {
  color: #777;
}
:-moz-placeholder {
  color: #777;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
p {
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
}
a:focus, a:hover {
    text-decoration: none;
}
.tsw-layout {
    position: relative;
    display: block;
    min-height: 70vh;
}
.tsw-header {
    width: 100%;
    background: #fff;
    padding: 0 50px;
    align-items: center;
    align-content: stretch;
    display: flex;
    flex-flow: row nowrap;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1),0 4px 8px rgba(0,0,0,0.15);
}
.tsw-logo {
    display: flex;
    width: 250px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    text-align: center;
}
.tsw-logo img{
    height: 64px;
}
.tsw-navigation {
    display: flex;
    width: calc(100% - 250px);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    text-align: right;
}
.tsw-navigation ul {
    margin:0;
}
.tsw-navigation li {
    display: inline-block;
    margin-right: 15px;
    position: relative;
}
.tsw-navigation li a {
    color: #222;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
    outline: none;
    position:relative;
}
.tsw-navigation li a.find_your_space {
    height: 40px;
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    background: #4cbed5;
    color: #fff;
    border-radius: 5px;
    /* box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.2); */
    font-weight: 400;
}
.tsw-navigation .dropdown-content {
    width: 200px !important;
    top: 47px !important;
    overflow: hidden;
}

.tsw-navigation .dropdown-content a {
    color: #777;
    font-weight: 400;
    text-transform: capitalize;
}
.tsw-layout__content {
    display: flex;
    min-height: 516px;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    background: url(../images/bg-homepage.jpg) center no-repeat;
    background-size: cover;
}
.tsw-card__title {
    position: relative;
    text-align: center;
    padding: 30px 40px;
    background: rgba(255, 255, 255, 0.5);
    max-width: 900px;
}
.tsw-question {
    display: none;
}
.tsw-question.current {
    display: block;
}
.tsw-card__title h3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 45px;
}

.tsw-card__title a, .btn-tsw_main {
    background: #4cbed5;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    min-width: 200px;
    display: inline-block;
    text-align: center;
    height: 45px;
    line-height: 45px;
}

.tsw-card__title span {
    display: block;
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 14px;
}
.tsw-grid {
    display: block;
    text-align: center;
    padding: 30px;
    background: #f1f1f1;
}

.tsw-grid p {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}

.tsw-grid p span {
    display: block;
}
.tsw-grid_media.media_logos {
    align-items: center;
    align-content: stretch;
    display: flex;
    flex-flow: row nowrap;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}

.tsw-media {
    display: flex;
    width: calc(20% - 20px);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    text-align: center;
    margin: 0 10px;
}

.tsw-media img {
    height: 40px;
    width: auto;
    display: block;
    margin: 0 auto;
}
.tsw-footer {
    background: #4dbed5;
    width: 100%;
    padding: 30px 50px 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer_grid {
    display: flex;
    position: relative;
    min-width: 0;
}

.footer_grid h4 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
}

.footer_grid ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
}
.footer_grid ul li {
    margin-right: 15px;
}
.footer_grid ul li a {
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
}
.tsw-layout-login {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background: url(../images/login-bg.jpg);
    justify-content: center;
    align-items: center;
}

.tsw-login-content {
    position: relative;
    display: block;
    width: 100%;
    max-width: 400px;
}

.tsw-form_login .tsw-logo {
    width: auto;
    display: block;
}
.tsw-form_login .tsw-logo h4 {
    color: #777;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 40px;
}
.tsw-form_login .tsw-logo img {
    height: 60px;
}

.tsw-form-layout {
    width: 100%;
    display: block;
}

.tsw-form_login {
    width: 100%;
    display: block;
    background: rgba(255, 255, 255, 0.8);
    padding: 50px 20px;
}

.login-ic {
    position: relative;
    margin-bottom: 1.5em;
    padding: 5px;
    display: table;
    width: 100%;
    background: rgba(255, 255, 255, 0.68);
}
.login-ic i {
    width: 38px;
    height: 38px;
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    line-height: 38px;
}
.login-ic input[type="text"], .login-ic input[type="password"] {
    float: left;
    background: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 16px;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.35);
    width: 82%;
    display: inline-block;
    margin-left: 7px;
}
.tsw-forgot {
    text-align: right;
    display: block;
    margin-bottom: 15px;
}

.tsw-forgot a {
    color: #777;
}

.tsw-button {
    display: block;
}

.tsw-button a {
    width: 100%;
    color: #fff;
}
.tsw-form-layout .input-field label {
    font-weight: 400;
    color: #777;
}

.tsw-form-layout .input-field i {
    top: 1rem;
    color: #777;
}
.tsw-login-content.signUp_form {
    max-width: 700px;
}
.tsw-form-layout .col.s12 {
    margin: 0 0 10px;
}

.tsw-login-content.signUp_form .tsw-form_login {
    padding: 30px 20px;
}
.tsw-login-content.signUp_form h4 {
    margin-bottom: 20px;
}

.tsw-layout__content.tsw-request_one {
    background: url(../images/request_one.jpg) center no-repeat;
    background-size: cover;
}
.tsw-layout__content.tsw-request_one .tsw-card__title {
    color: #222;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2);
}
.tsw-card__title h4 {
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}


.tsw-layout__content.tsw-request_one .tsw-card__title span {
    display: block;
    margin-bottom: 20px;
}
.tsw-layout__content.tsw-request_one .tsw-card__title .input-field {
    margin-bottom: 0;
}
.tsw-layout__content.tsw-request_one .tsw-card__title span.small {
    display: block;
    text-transform: inherit;
    font-size: 13px;
    margin: 0 0 10px;
}

.tsw-layout__content.tsw-request_one .tsw-card__title span.small a {
    background: transparent;
    font-size: 13px;
    text-transform: inherit;
    min-width: auto;
    color: #222;
    height: auto;
    line-height: 16px;
}
/*.btn {
    height: 45px;
    line-height: 45px;
    }*/
    .tsw-layout__content.tsw-request_one .tsw-card__title .btn {
        min-width: 150px;
    }
    .btn-main {
        background: #4cbed5;
        color: #fff;
        text-align: center;
        border: none;
        border-radius: 2px;
        display: inline-block;
        /* height: 45px; */
        /* line-height: 45px; */
        padding: 0px 16px;
        text-transform: uppercase;
        vertical-align: middle;
        -webkit-tap-highlight-color: transparent;
        min-width: 100px;
    }
    .btn-main:hover, .btn-main:focus {
        background: #4cbed5;
    }

    .tsw-card__title a.cancel_dismiss {
        background: transparent;
        min-width: 100px;
        color: #565656;
    }

    .tsw-select-style {
        display: flex;
        position: relative;
        /*justify-content: center;*/
        align-items: flex-start;
        flex-direction: column;
        flex-flow: row nowrap;
        flex-wrap: wrap;
    }

    .flex-grow {
        display: flex;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        min-width: 0;
        flex-direction: column;
        margin: 10px 20px;
    }

    .col-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding: 0 15px;
    }
    .col-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
        padding: 0 15px;
    }
    .selectStyle-box {
        text-align: left;
        display: block;
    }
    .selectStyle-box input {
        margin-bottom: 0 !important;
    }
    .selectStyle-box label span {
        color: #222;
        text-transform: capitalize;
        font-size: 16px !important;
    }
    .set_Times .flex-grow {
        width: calc(25% - 40px);
        margin: 0;
    }

    .tsw-select-style.set_Times {
        margin: 15px 0;
    }
    .tsw-select-style .row {
        display: flex;
        width: 100%;
    }

    .tsw-select-style .row .flex-grow {
        display: flex;
        width: 33%;
    }
    .tsw-select-our-cities {
        display: block;
        max-width: 400px;
        margin: 20px auto;
    }
    .tsw-select-cities {
        display: block;
        width: 100%;
        position: relative;
    }

    .tsw-select-cities .flex-grow div {
        display: flex;
        flex-direction: column;
        flex-flow: row nowrap;
        flex-wrap: wrap;
        align-content: stretch;
        width: 60%;
        text-align: right;
    }

    .tsw-select-cities .flex-grow {
        flex-flow: row nowrap;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .tsw-select-cities .flex-grow div.row {
        width: 40%;
        margin-bottom: 0;
    }

    .tsw-select-cities .flex-grow div .select-wrapper {
        width: 100%;
    }
    .tsw-select-cities .flex-grow div p {
        display: block;
        text-align: right;
        width: 100%;
    }
    .must-checkbox {
        display: inline-block;
        float: right;
        position: relative;
        margin-right: 30px;
    }

    .must-checkbox span {
        margin: 0 !important;
        text-transform: capitalize;
        color: #222;
    }
    .tsw-card__title h1 {
        font-size: 50px;
        font-weight: 300;
        text-transform: capitalize;
        margin: 0 0 10px;
    }

    .tsw-card__title h5 {
        font-size: 22px;
        display: block;
        max-width: 500px;
        margin: 0 auto 20px;
    }

    /*======*/

    .dashboard {
        background: #fff;
        position: relative;
        display: block;
        min-height: 65vh;
        padding-top: 69px;
    }
    .tsw-grid-dashboard {
        display: block;
        margin: 0 auto;
        width: calc(100% - 50px);
        padding: 20px;
        position: relative;
        min-height: 75vh;
    }
    .tsw-grid-dashboard .tabs {
        background: transparent;
    }

    .tsw-grid-dashboard .tabs .tab a {
        color: #222;
    }

    .tsw-grid-dashboard .tabs .tab a.active {
        color: #4cbed5;
        border-bottom: 2px solid #4cbed5;
    }
    h2.heading-title {
        font-weight: 300;
        margin: 10px 0 20px;
        font-size: 30px;
    }
    .tsw-content-tab {
        display: block;
        margin-top: 20px;
    }

    .tsw-pending-tab {
        position: relative;
        display: block;
    }
    table.striped>tbody>tr>td.action-td {
        width: 220px;
        text-align: center;
    }
    table.striped>tbody>tr>td.action-td button {
        padding: 0 1rem;
        font-size: 11px;
        margin: 5px 0;
    }
    table.striped>tbody>tr>td a {
        color: #4cbed5;
    }
    table.striped>tbody>tr>td.mr0 i {
        margin:0;
    }
/* table.striped>tbody>tr>td a.tooltipped i {
    margin-right: 15px;
    } */
    table.striped>tbody>tr>td a.btn {
        color: #fff;
        padding: 0 1em;
        margin-right: 3px;
    }
    .gallery-box {
        position: relative;
        display: block;
        padding: 10px;
    }

    .gallery-box img {
        width: 100%;
        height: 220px;
        object-fit: cover;
    }
    .material-placeholder {
        display: block;
        position: relative;
    }

    .gallery-caption {
        padding: 10px 0 0;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    .media-caption {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 220px;
    }

    .media-caption:before {
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    .gallery-box h4 {
        position: absolute;
        z-index: 2;
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        display: flex;
        margin: 0;
    }
    .gallery-box.box-add-new {
        text-align: center;
        min-height: 286px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gallery-caption .transparent {
        background-color: transparent !important;
        box-shadow: none !important;
        color: #222 !important;
        font-weight: 600;
        padding: 0;
    }
    .grid-cell {
        display: block;
        position: relative;
    }
    .grid-cell .form-group {
        margin-bottom: 15px;
    }
    .grid-cell .form-group p {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .grid-cell .form-group .col-cell p {
        font-weight: 400;
    }
    .grid-cell .form-group p span {
        margin-right: 10px;
    }
    .grid-cell .form-group p span.small-text {
        display: block;
        font-weight: 400;
        font-size: 13px;
        font-style: italic;
    }
    .grid-cell .form-group p label span {
        font-weight: 400;
        color: #222;
    }
    .col-cell {
        margin: 0;
    }
    .materialize-textarea {
        height: 100px !important;
    }
    .text-right {
        text-align: right;
    }

    .text-right a {
        min-width: 150px;
    }
    .file-upload-image {
        color: #777;
        position: relative;
        display: flex;
        width: 100%;
        border: 1px dashed #ccc;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        height: 150px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }

    .grid-cell .form-group .file-upload-image p {
        font-size: 12px;
        font-weight: 300;
        margin: 0;
    }

    .file-upload-image input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
        z-index: 1;
        opacity: 0;
    }
    .center-done {
        display: flex;
        height: 60vh;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .center-done h3 {
        font-size: 25px;
    }

    .center-done p {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .tsw-grid-dashboard h2.title-pending {
        font-size: 20px;
        font-weight: 300;
        margin: 0;
        background: #4cbed5;
        padding: 10px;
        color: #fff;
    }

    .tsw-header-images {
        position: relative;
        height: 450px;
        background-size: cover;
        width: 100%;
    }
    .tsw-header-images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .tsw-header-images .view-slide-image {
        position: absolute;
        bottom: 15px;
        left: 15px;
    }
    .tsw-content-space {
        position: relative;
        display: block;
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
    }

    .tsw-card.tsw-shadow--2dp {
        display: block;
        position: relative;
        width: 100%;
        padding: 30px;
    }

    .tsw-card.tsw-shadow--2dp .tsw-card__title h2 {
        margin: 0;
        text-align: left;
        font-size: 30px;
    }

    .tsw-card.tsw-shadow--2dp .tsw-card__title {
        padding: 0;
        margin-bottom: 20px;
    }

    .tsw-card__supporting-text {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 30px;
    }

    .tsw-grid--no-spacing {
        display: flex;
    /*justify-content: center;
    align-items: center;*/
}

.tsw-cell-flex {
    width: 25%;
    text-align: center;
    display: block;
}

.tsw-cell-flex i {
    font-size: 50px;
    color: #777;
}
.tsw-card__maps {
    position: relative;
    display: block;
}
.tsw-card__price {
    display: block;
    position: relative;
}

.tsw-card__price h2.tsw-card__title-text {
    font-size: 25px;
    color: #4cbed5;
    font-weight: 700;
    background: #f5f5f5;
    padding: 10px;
}

.tsw-card__price p {
    margin-bottom: 20px;
}

.tsw-card__Amenities {
    display: block;
    position: relative;
}

.card__Amenities-title {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

.card__Amenities-listed {
    display: flex;
    position: relative;
}

.card__Amenities-listed-cell {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 15px;
}

.card__Amenities-listed-cell i {
    position: relative;
    font-size: 24px;
    top: 5px;
    margin-right: 10px;
}
.card__Amenities-listed-cell p {
    margin-bottom: 10px;
}
#modal-view-image {
    width: 80%;
    max-height: 80vh;
    height: 100%;
}
#modal-view-image .carousel {
    height: calc(80vh - 48px);
}
#modal-view-image .carousel .carousel-item {
    width: 70%;
    height: 70%;
}
.view-image_Upload {
    display: block;
    position: relative;
    height: 150px;
    padding: 7px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.view-image_Upload img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.view-image_Upload a {
    position: absolute;
    top: 7px;
    right: 7px;
    left: 7px;
    bottom: 7px;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .4s;
}
.view-image_Upload:hover a {
    opacity: 1;
}

.view-slide-images {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slideshow {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slideshow img {
    position: absolute;
    display: none;
    width: 95%;
    height: 80%;
    object-fit: contain;
    object-position: center;
}
.slideshow img:first-child {
    display: block;
}
.view-slide-images button {
    position: absolute;
    z-index: 1;
    background: transparent;
    padding: 0;
    border: 0;
    color: #fff;
    cursor: pointer;
}

.view-slide-images button#prev {
    left: 20px;
}

.view-slide-images button i {
    font-size: 100px;
}

.view-slide-images button#next {
    right: 20px;
}
.view-slide-images .close {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 30px;
}
.edit-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-thumbnail div {
    width: 50%;
    margin-right: 10px;
}

.tsw-reco_web-content {
    position: relative;
    display: block;
}

.reco_web__heading {
    margin-bottom: 30px;
    display: block;
}

.reco_web__heading p {
    margin-bottom: 15px;
}
.reco_web__body {
    position: relative;
    display: block;
}

.reco_web_list {
    position: relative;
    display: block;
    width: 100%;
}

.reco_web_list_box {
    align-content: stretch;
    display: flex;
    flex-flow: row nowrap;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-bottom: 40px;
}

.reco-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin: 5px;
    width: calc(33% - 10px);
}

.reco-card__title {
    display: block;
    width: 100%;
    height: 250px;
    position: relative;
}

.reco-card__title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.reco-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.reco-card__actions {
    min-height: 76px;
    padding: 15px;
    position: relative;
    width: 100%;
    border-top: 1px solid #f1f1f1;
}

.reco-card__space_name {
    font-size: 16px;
    font-weight: 600;
}

.reco-card__space_must_haves {
    font-size: 13px;
    color: gray;
}

.reco-card__space_must_haves span {
    display: block;
    margin-right: 7px;
    padding-right: 7px;
    position: relative;
}

/* .reco-card__space_must_haves span:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: gray;
    border-radius: 100px;
    top: 8px;
    right: -5px;
}
.reco-card__space_must_haves span:last-child:before {
    display:none;
    } */
    .reco-card__price, .reco-card__select {
        position: absolute;
        bottom: 0px;
        color: #fff;
        background: hsl(190, 62%, 57%);
        padding: 10px 20px;
        width: 50%;
        text-align: center;
        height: 3rem;
    }
    .reco-card__select {
        right: 0;
        padding: 0;
        background: #fff;
    }
    .reco-card__select button {
        height: 42px !important;
        border-bottom: 0 !important;
        padding: 0 10px !important;
        width: 100%;
        box-shadow: none;
        border-radius: 0;
    }
    .reco-card__select button:hover {
        background: transparent;
    }
    .hover_view {
        position: absolute;
        overflow: hidden;
        width: 80%;
        height: 50%;
        left: 10%;
        top: 22%;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
        transform: scale(0, 1);
        z-index: 2;
        display: flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .hover-effect:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.35s, transform 0.35s;
    }
    .hover-effect:hover:before {
        opacity: 1;
        visibility: visible;
    }
    .hover-effect:hover .hover_view {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    .hover_view a {
        color: #fff;
        display: flex;
        width: 100%;
        text-align: center;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .hover_view a i {
        font-size: 50px;
    }
    .body_gird {
        margin-bottom: 20px;
    }
    .mtgs_edit_space_grid {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
        background-color: #fff;
    }
    .mtgs_edit_space_grid-heading {
        padding: 15px 20px;
        background: #f6f6f6;
        font-size: 20px;
        font-weight: 600;
    }
    .mtgs_edit_space-content {
        position: relative;
        padding: 20px;
    }
    .mtgs_edit_space-content table tr:last-child {
        border-bottom: 0
    }

    .mtgs_edit_space-content table.border0 tr:last-child {
        border-bottom: 1px solid #c5c5c5;
    }
    .mtgs_edit_space .border-0 tr {
        border: 0 !important;
    }

    .mtgs_edit_space-content table.table-bordered tr {
       border-bottom: 1px solid #c5c5c5 !important;
   }
   .mtgs_edit_space .border-0 tr div {
    margin-bottom: 0;
}
.option-change {
    text-align: center;
}

.option-change a {
    max-width: 150px;
    display: block;
    margin-bottom: 10px;
    margin: 10px auto;
}
.mtgs_edit_space {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}
.table-flex {
    width: 100%;
    margin: 20px 0;
}

.table-flex.w20 {
    width: 100%;
    max-width: 400px;
}
.mtgs_edit_space thead td {
    font-weight: 600;
}
.edit_user table tr {
    border: 0;
}
.edit_user table td .input-field {
    margin: 15px 20px;
}


.mtgs_edit_space .set_Times {
    width: 100%;
}
.mtgs_edit_space .set_Times .flex-grow {
    width: calc(20% - 27px);
    margin: 0 20px 0 0;
}
.edit_image {
  margin-right: 20px;
  background: #fff;
  padding: 3px;
  border-radius: 0px;
  width: 250px;
  height: 175px;
  display: block;
  box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.21);
}

.edit_image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.edit_space-name {
    min-width: calc(100% - 300px);
}

.edit_space-capacity {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.mtgs_edit-time {
    display: flex;
    width: calc(17% + 26px);
    flex-direction: column;
}

.edit_space-name a {
    display: block;
    width: 100%;
    color: #222;
    font-size: 18px;
}
.edit_space-capacity span {
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
}
.time-heading {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
}

.date_time_mtgs {
    display: block;
    width: 100%;
}

.date_time_mtgs span {
    display: block;
    margin-bottom: 10px;
}
.form-group {
    margin-bottom: 15px;
}
.colums {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.edit_space-capacity span {
    display: block;
    color: #777;
}
.edit_space_button .btn {
    min-width: 120px;
    margin: 0 10px 0 0;
}
.mtgs_edit-time .btn {
    width: 100%;
    max-width: 120px;
    margin: 10px 0 0;
}
.mtgs_edit_space-content .form-group .btn {
    min-width: 120px;
    margin: 0 10px 0 0;
}
.space-wb {
    width: 100%;
    margin: 10px 0;
}
.row.flex-row {
    padding-top: 30px;
    border-top: 1px solid #eee;
    display: flex;
    align-items: center;
}

.text-left {
    display: block;
    font-style: italic;
}

.change-date_time {
    display: block;
    position: relative;
    width: 100%;
}

.change-date_time .change_to {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.form-change-to {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.form-change-to input {
    margin-bottom: 0 !important;
}
.date-change {
    display: inline-flex;
    width: calc(25% - 20px);
    margin-right: 10px;
}
.date-change .btn-floating {
    width: 30px;
    height: 30px;
}

.date-change .btn-floating i {
    line-height: 30px;
    font-size: 18px;
}
.pagination {
    margin-top: 15px;
    float: right;
}

.table-dashboard tr.meeting_item td img {
    width: 100px;
    height: 65px;
    object-fit: contain;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    object-position: center;
}
.table-dashboard tr.meeting_item td .material-placeholder img.materialboxed.active {
    background: transparent;
    border: 0;
}
.select-wrapper .caret {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 0;
    fill: rgba(0,0,0,0.87);
}
.tsw-question label {
  text-align: left;
}

.pay-title {
    display: block;
    font-size: 20px;
    background: #4cbed5;
    padding: 15px 20px;
    border-bottom: 1px solid #4cbed5;
    color: #fff;
}

.pay-fl {
    display: block;
    position: relative;
    padding: 0;
}

.rows-group {
    display: block;
    padding: 15px 20px;
    background: #f1f1f1;
}

.item-fl {
    display: flex;
    justify-content: space-between;
}

.title-item {
    display: flex;
    flex-direction: column;
    width: calc(100% - 100px);
}
.title-cost {
    display: inline-flex;
    flex-direction: column;
}
.title-cost span {
    margin-bottom: 15px;
}
.title-item h5, .title-cost h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.title-item .color-red {
    color: #ff2f2f;
    font-style: italic;
}

strong {
    font-weight: bold;
}

.rows-group ul {
    padding-left: 5%;
}

.rows-group ul li {
    list-style-type: disc;
    margin-bottom: 10px;
}

.rows-group:nth-child(even) {
    background: #fff;
}
.modal {
    outline: none;
}
p.question_md {
    display: block;
    margin: 20px 0;
}

p.question_md a {
    color: #777;
}
.pay-fl h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    display:block;
    margin: 0;
    padding: 20px;
}

.modal-md {
    width: 100%;
    max-width: 700px;
}
.form-question {
    display: table;
    width: 100%;
    padding: 20px;
    background: #fff;
}
.form-question .row {
    margin-bottom: 0px;
}
.modal-title {
    height: 60px;
    background-color: #4cbed5;
    color: #fff;
    line-height: 60px;
    padding: 0 30px;
    font-size: 20px;
}
.form-done {
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    padding: 30px 0;
}

.form-done h4 {
    font-size: 22px;
}
.mtgs_edit_space_grid .pay-fl {
    padding: 0px 0 25px;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

.mtgs_edit_space_grid .pay-fl h4, .mtgs_edit_space_grid .pay-fl h3 {
    padding: 20px;
    font-size: 20px;
    margin: 0;
    font-weight: 600;
}

.mtgs_edit_space_grid .pay-fl .rows-group {
    padding: 15px 20px;
}
.mtgs_edit_space_grid .pay-fl h4 {
    font-weight: 400;
    font-size: 19px;
}
.can-fee {
    display: block;
    width: 100%;
    padding-left: 15%;
}
.can-fee p {
    margin-bottom: 15px;
}

.can-fee .can-list {
    font-size: 13px;
    color: #ff4848;
}

.can-fee .can-list li {
    list-style-type: none;
    margin-bottom: 5px;
}
.bookpaid-content {
    display: block;
    position: relative;
}

.alert-confirm {
    display: block;
    padding: 15px;
    background: #e8f0de;
    border: 1px solid #8BC34A;
    border-radius: 4px;
    margin-bottom: 15px;
    text-align: center;
}

.alert-confirm h4 {
    margin: 0;
    font-size: 18px;
    color: #1eb224;
}

.bookpaid-art {
    display: flex;
    position: relative;
}

.bookpaid-left {
    width: 300px;
    display: inline-flex;
    flex-direction: column;
}

.bookpaid-right {
    display: inline-flex;
    width: calc(100% - 300px);
    flex-direction: column;
    padding: 0 20px;
}

.bk-image {
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.title-bookpaid {
    display: block;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.bk-date-times {
    display: block;
    margin-bottom: 15px;
}

.bk-date-times li {
    margin-bottom: 10px;
    display: flex;
}

.bk-date-times li span {
    width: calc(50% - 10px);
}
.btn {
  box-shadow: none;
}
.btn:focus {
  background: #4cbed5;
}
.table-flex thead {
    background: #4cbed5;
    border-bottom: 0;
}

.table-flex thead td {
    height: 45px;
    border-radius: 0;
    color: #fff;
    padding: 10px;
}

.table-flex thead tr {
    border-bottom: 0 !important;
}

.table-flex tbody tr {
    background: #f6f6f6;
    border-bottom: 0 !important;
}

.table-flex tbody tr:nth-child(even) {background: #fff;}

.table-flex tbody tr td {padding: 13px 5px;}
a.edit_btn {
    color: #fff;
}
.fl-l {
    display: flex;
    position: relative;
    margin-bottom: 10px;
}

.fl-l span {
    width: 50%;
}
.bk-date-times li span {
    width: calc(50% - 5px);
}
.hepl-content__layout {
    position: relative;
    display: block;
    padding-bottom: 0 !important;
}
.sign-up__plans {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    float: none !important;
}
.form_pay {
    display: block;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.form_pay ul.collapsible {
    margin: 0 auto 20px;
    box-shadow: none;
    border: 0;
    padding: 2rem;
    border: 1px solid #f1f1f1;
}
.form_pay ul.collapsible li {
    border: 1px solid #E8EBED;
    padding: 20px 0;
    border-radius: 5px;
    margin: 0 auto 20px;
    min-height: 70px;
    box-sizing: border-box;
    box-shadow: none;
}
.form_pay .collapsible-header {
    align-items: center;
    outline: none;
    border: 0;
    display: flex;
}
.form_pay .collapsible-header i {
    width: 40px;
    height: 30px;
    position: relative;
    background: url(https://live.adyen.com/sf/q7KUHzFD/img/logo_cc.svg) no-repeat;
    background-size: auto;
    background-position: 3px 2px !important;
}
.form_pay .collapsible-header i.icon_open_credit {
    background: url('../images/open-credit.png') no-repeat center;
    background-size: 98%;
}
.form_pay .collapsible-header span {
    font-size: 16px;
    font-weight: 600;
}
.form_pay .collapsible-body {
    padding: 15px 20px;
}
.form_pay .collapsible-body, .form_pay .collapsible-body tr {
    border: 0;
}
.info_cvc {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: help;
    color: #4cbed5;
}
.security_info {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background: #fff;
    position: absolute;
    top: -180px;
    right: 15px;
    z-index: 1;
    display: none;
}
.security_info.show {
    display: block;
}
.security_info .close {
    font-size: 25px;
    position: absolute;
    right: 5px;
    top: -4px;
    cursor: pointer;
}
.security_title {
    margin-bottom: 15px;
}
.security_para {
    font-size: 12px;
    margin-bottom: 10px;
}
.total-count {
    display: block;
    margin-bottom: 10px;
}

.total-count h5 {
    font-size: 16px;
}

.total-count span {
    font-weight: 600;
}

.form_pay .collapsible-body button {
    height: 40px;
    line-height: 40px;
    box-shadow: none;
    font-size: 14px;
}
.w7 {
    max-width: 700px;
    display: block;
}

.totla-top {
    text-align: right;
    padding: 15px;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
    font-weight: 600;
    border: 1px solid #f1f1f1;
}

.form-pay-footer {
    display: block;
    text-align: right;
}

table {
    border: 1px solid #ddd;
    font-size: 14px;
}

table tr {
    border-bottom: 1px solid #eee;
    background: transparent !important;
}
table tr td {border-right: 1px solid #ddd;padding: 7px;}

.material-placeholder img {
    /*width: 55px !important;*/
}

.status-progress {
    display: block;
    position: relative;
    min-width: 100px;
    padding: 20px 0px;
} 
.status-wizard {
    list-style-type: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
} 
.status-wizard li {
    position: relative;
    z-index: 1;
    display: flex;
    width: 75px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.status-wizard li.success:after {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% - 20px);
    background: #8BC34A;
    top: 9px;
    right: calc(100% - 29px);
    z-index: 0;
}
.status-wizard li.decline:after {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% - 20px);
    background: #F44336;
    top: 9px;
    right: calc(100% - 29px);
    z-index: 0;
}
.status-wizard li.waiting:after {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% - 20px);
    background: #177f94;
    top: 9px;
    right: calc(100% - 29px);
    z-index: 0;
}
.status-wizard li.availability-inquiry span {
    color: #8BC34A;
}

.status-wizard li.available span {
    top: 25px !important;
}
.status-wizard li:first-child:after {
    display: none;
}
.status-wizard li i {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    line-height: 20px;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    font-size: 11px;
    position: relative;
}

.status-wizard li.success i {
    background: #8BC34A;
    color: #fff;
    border-color: #8BC34A;
}
.status-wizard li.success span {
    color: #8BC34A;
}
.status-wizard li.success i:before {
    content: "\f00c"; 
} 

.status-wizard li:first-child i:after {
    display: none;
}

.status-wizard li.decline i:before {
    content: "\f00d";
}

.status-wizard li.decline i {
    background: #F44336;
    color: #fff;
    border-color: #F44336;
}
.status-wizard li.decline span {
    color: #F44336;
}  
.status-wizard li.waiting i {
    background: #177f94;
    color: #fff;
    border-color: #177f94;
} 
.status-wizard li.expires i {
    background: #ccc;
    color: #fff;
    border-color: #ccc;
} 
.status-wizard li.expires span {
    color: #999;
} 
.status-wizard li.expires:after {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% - 20px);
    background: #ccc;
    top: 9px;
    right: calc(100% - 29px);
    z-index: 0;
}
.status-wizard li span {
    font-size: 10px;
    width: 40px;
    position: absolute;
    text-align: center;
    z-index: 1;
    top: -25px;
    line-height: 10px;
}

@media only screen and (max-width: 992px) {
    .status-wizard li span {
        left: 0;
    } 
    table.responsive-table th {
        padding: 10px 5px;
    }
    table.responsive-table tbody tr {
        padding: 0;
    }
    table.responsive-table td {
        padding: 10px 5px; 
        border-bottom: 1px solid #eee; 
        margin-left: 0;
    }
    th.stt-th {
        height: 58px;
    }

    th.status-th {
        height: 91px;
    }
    th.atc-th {
        height: 67px;
    }
    table.striped>tbody>tr>td.action-td {
        width: auto;
    }
    .status-progress {
        width: 235px;
    }
}