/* Preloader */
#preloader {
	position: fixed; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	background-color: #f2f3f7; 
	z-index: 9999999;
}
#status { 
	width: 200px; 
	height: 200px; 
	position: absolute; 
	left: 50%; 
	top: 50%; 
	background-image: url(../img/status.gif);  
	background-repeat: no-repeat; 
	background-position: center; 
	margin: -100px 0 0 -100px;
}
body.bg-img {
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
	overflow: hidden;
}
.count-down li canvas {
	background-color: rgba(242, 243, 247, 0.67)!important;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
	width: 100%;
	max-width: 260px;
} 
.homepage #logo {
	margin: 0 0 26px 0;
}
.home{ 
	background:#e6e9ed url(../img/bg-body.png) left top repeat-x; 
}
.main-wrapper {
	padding: 60px 20px 0 20px;
	margin: 0 auto;
	position: relative;
}

#logo {
	text-align: center; 
	margin: 0 0 30px 0;
	padding:0;
}
#logo a {
	display: inline-block;
	padding: 4px;
}
#logo img {
	height: 70px;
}
.slogan {
	margin-bottom: 76px;
	text-align: center;
	text-transform: uppercase;
}
.slogan h3 {
    font-size: 38px;
    font-weight: 600;
}

.slogan h3 span {
    color: #4dbed5;
}
.slogan p {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
}

.count-down { 
	margin: 0 0 85px 0; 
	padding: 0; 
	font-family: 'Roboto', sans-serif; 
	text-align:center; 
	height: 240px; 
	height: auto;
}
.count-down li { 
	margin: 0;
	padding: 0; 
	list-style: none;
	font-size: 28px; 
	display: inline-block;
	min-height: 250px;
}
.count-down li div {
	margin: 0 !important;
	padding: 0;
}
.count-down li input {
	font-family: 'Roboto', sans-serif !important; 
	font-size: 90px!important; 
	color: #000000!important; 
	width: 154px!important; 
	height: 98px!important; 
	margin:70px 0 0 -213px !important;
}
#days-title, #hours-title, #mins-title, #secs-title {
	display:block;
	color: #000000;
	text-transform: uppercase;
	margin-top: -94px;
	font-size: 30px;
	position: relative;
	z-index:9 !important;
} 
.connect-us {
	margin: 30px 0 28px 0;
	padding: 0;
	text-align: center;
}
.connect-us li {
	display: inline-block;
	font-size: 16px;
}
.connect-us li a {
	display: block;
	margin: 10px;
	width: 40px;
	height: 40px;
	line-height: 36px;
	color: #fff;
}
.connect-us li a.fb:hover{
	color: #507cbe;
}
.connect-us li a.twitter:hover{
	color: #62cdf2;
}
.connect-us li a.gplus:hover{
	color: #ec5d48;
}
.connect-us li a.linkedin:hover{
	color: #1e88c9;
}
.connect-us li a.ytube:hover{
	color: #e64c38;
}
.connect-us li a.dribbble:hover{
	color: #d34e95;
}
.connect-us li a.pinterest:hover{
	color: #e94546;
}

footer  { 
	text-align: center; 
	font-size:16px;
}
footer a {
	color: #8a8b8b; 
	text-decoration: underline;
}
footer a:hover { 
	text-decoration: none; 
	color: #8a8b8b;
}

.bg-overlay{
	background:url(../img/bg-overlay.png) repeat left top; 
	opacity:0.5; 
	position:fixed;
	height:100%; 
	width:100%;
	z-index:99;
}
/*Template color option start here*/
.template-colors{ 
	margin: 40px 0 0 0;
	padding: 0; 
	list-style: none;
	display: block;
}
.template-colors li { 
	margin:0 2px; 
	padding: 0; 
	display: inline-block; 
	font-size: 26px;
}
.template-colors li a { 
	margin: 0; padding: 0; 
	outline: none;
	display: block; 
	width:42px;
	height: 42px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.template-colors li a:hover { 
	border:1px solid #999;
}
.template-colors li a.blue{
	background-color: #00d2ff;
}
.template-colors li a.green{
	background-color: #aaee06;
}
.template-colors li a.yellow{
	background-color: #ffcc00;
}
/*Template color option end here*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.count-down li input {
		margin-top:60px !important;
	}
}
/*Responsive css start here*/
@media (max-width : 1200px) and (min-width : 991px) { 
	.count-down li canvas {
		max-width: 200px;
		max-height: 200px !important;
		transition: .3s;
	}
	.count-down li input {
		margin-top: 15px !important;
		font-size: 60px !important;
		width: 200px !important;
		margin-left: -201px !important;
		transition: .3s;
	}
}

@media only screen and (max-width : 1024px) {
	.count-down li div, .count-down li canvas { 
		width: 230px !important; 
		height: 230px !important;
	}
	.contact-form input {
		padding: 0 26% 0 17%;
	}
	.count-down li input {
		margin:36px 0 0 -190px !important;
	}
	.hide-med {
		display: none !important;
	}
	.contact-form .btn-submit {
		font-size: 18px;
	}
}
@media only screen and (max-device-width : 568px) {
	.contact-form input {
		padding: 0 40% 0 24%;
	}
	.paw-carousel-item {
		height: 320px !important;
	}
	.contact-form .btn-submit {
		font-size: 15px; padding: 0; margin: 0; width: 80px;
	}
} 
.calo-layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.patten-bg {
    background: rgba(0, 0, 0, 0.5) url("../img/bg-pattern.png") repeat scroll left top;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.time-left {
    position: relative;
    margin-bottom: 5rem;
}

.time {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.time div {
    display: inline-flex;
    flex-direction: column;
    text-align:center;
    width: 25%;
    border-left: 1px dotted #dadada;
}
.time div:first-child {
	border-left: 0;
}
.time div .count {
    font-size: 70px;
    font-weight: bold;
    line-height: 70px;
    margin-bottom: 10px;
}
.time div .title {
    font-size: 16px;
    font-weight: 500;
}
p.subscribe-title {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 28px 0 5px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}
.subscribe-form {
    width: 470px;
    padding: 15px;
    margin: 5px auto 5px auto;
    background: #444;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}
.subscribe-form:before, .subscribe-form:after {
    content: '';
    display: table;
}
.subscribe-form input {
    width: 330px;
    height: 40px !important;
    padding: 0px 10px !important;
    color: #fff;
    border: 0;
    background: rgba(169, 169, 169, 0.5) none repeat scroll 0 0;
    border-radius: 0;
    text-transform: uppercase;
    margin: 0;
    line-height: 40px !important;
    box-sizing: border-box;
}
.subscribe-form button {
    background: #4dbed5;
}
.subscribe-form button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'Oswald';
    color: #fff;
    text-transform: uppercase;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.subscribe-form button:before {
    border-color: transparent #4dbed5 transparent;
}
.subscribe-form button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    top: 12px;
    left: -6px;
}
.subscribe-form button:hover {
    background: #4dbed5;
}