* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Work Sans;
    font-size: 14px;
    box-sizing: border-box;
    background: #f4f1ea;
}
.btn {
    box-shadow: none;
}
.overflow-hd {
    overflow: hidden;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
  transition: .5s;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #f7a052;
}
::selection {
  color: #fff;
  background: #f19ab2;
}
::-moz-selection {
  color: #fff;
  background: #4dbed5;
}
.wrapper {
    position: relative;
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.cl-navigation {
    position: fixed;
    z-index: 100;
    background: #F4F1EA;
    top: 0;
    left: -300px;
    bottom: 0;
    padding: 10rem 2rem;
    width: 300px;
    transition: all .3s;
}
.cl-navigation.open {
    left: 0;
}
.cl-menu {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

.cl-menu li a {
    color: #F099B3;
    padding: 15px;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.cl-menu li a i {
    font-size: 20px;
    margin-right: 5px;
}
.cl-menu li .open-dropdown {
    position: absolute;
    right: 15px;
    top: 9px;
    font-size: 20px;
    font-weight: 500;
    color: #F099B3;
    cursor: pointer;
}
.cl-menu li {
    border-bottom: 1px solid #fcfbfa;
    position: relative;
}
.sub-menu {
    margin: 10px 0;
    padding: 0 10px;
    display: none;
}

.sub-menu li:last-child {
    border: 0;
}

.sub-menu ul {
    background: #f4f1ea;
    border-radius: 6px;
}

.sub-menu ul li a {
    color: #737373;
    font-weight: 300;
    transition: .3s;
    border-bottom: 1px solid #e2e1df;
    position: relative;
}

.sub-menu ul li a:hover:before {right: 0;left: 0;}

.sub-menu ul li a:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 100%;
    bottom: -2px;
    background: #737373;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.sub-menu ul li:last-child a {
    border-bottom: 0;
}
.navigation-calo {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 0;
    transition: all .5s;
}
.navigation-calo.lefr300 {
    padding-left: 300px;
}

.header-slider {
    height: 90vh;
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f19ab4+0,f7a04f+100 */
    background: #F099B3; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(241,154,180,1) 0%, rgba(247,160,79,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #F099B3 0%,rgba(247,160,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #F099B3 0%,#F7A052 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f19ab4', endColorstr='#f7a04f',GradientType=0 ); /* IE6-9 */
    transition: all .3s;
    display: block;
}
.header-slider.ml-300 {
    margin-left: 300px;
}
.slider-content {
    height: 100%;
    position: relative;
}

.slider-heading.heading-content {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1204px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 1;
}

.slider-content .owl-stage {
    padding: 0 !important;
}

.slider-content .owl-carousel .owl-item {
    /* margin: 0 !important; */
}

.heading-left {
    width: 50%;
    color: #fff;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 80px;
}

.heading-right {
    width: 50%;
    height: 90vh;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    position: relative;
}
.slide-text {
    width: 100%;
    text-align: center;
}

.subtitle {
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.888px;
    margin-bottom: 1.5rem;
    opacity: 0;
    -webkit-transform: translateY(-50em);
    transform: translateY(-50em);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}
.flex-active-slide .subtitle {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.title-heading {
    font-size: 42px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    opacity: 0;
    -webkit-transform: translateX(70em);
    transform: translateX(70em);
    overflow: hidden;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: .75s;
    transition-delay: .75s;
}
.fadeRight {
    -webkit-transform: translateX(20em);
    transform: translateX(20em);
}
.flex-active-slide .title-heading {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.button-heading {
    display: block;
    opacity: 0;
    -webkit-transform: translateY(50em);
    transform: translateY(50em);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}
.flex-active-slide .button-heading {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.button-heading a {
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #fff;
    height: 40px;
    display: inline-block;
    line-height: 38px;
    padding: 0 20px;
    border-radius: 8px;
}
.slider-content .flex-control-nav {
    position: relative;
    z-index: 99;
    margin-top: 1rem;
}

.slider-content .flex-control-nav .flex-active {
    background: #fff;
}
.slider-content .flex-control-paging li a {

    background: rgba(255, 255, 255, 0.5);

    box-shadow: none;
}
.windows-images {
    max-width: 500px;
    width: 100%;
    height: 75vh;
    background: url(../images/slider1.png) bottom center no-repeat;
    background-size: contain;
    margin-left: auto;
    background-position: bottom !important; 
}
.scroll {
    justify-content: center;
    align-items: center;
    display: flex;
    position:absolute;
    z-index: 1;
    bottom: -18px;
    left: calc(50% - 12px);
    width: 35px;
    height: 35px;
    background: #737373;
    color: #fff;
    line-height: 35px;
    border-radius: 40px;
}
.scroll span {
    font-size: 28px;
}
.logo-mb {
    display:none;
}
.menu-trigger {
    position: absolute;
    left: 2rem;
    text-align: center;
    font-size: 13px;
    display: none;
}
.menu-trigger a {
    display:block;
    color: #fff;
    height: 50px;
}
span.trigger {
    display: block;
    height: 3px;
    width: 36px;
    background: #fff;
    position: relative;
    margin: 10px 0;
    border-radius: 4px;
    transition: all .3s;
}
span.trigger:before, span.trigger:after {
    content: "";
    height: 3px;
    width: 36px;
    background: #fff;
    position: relative;
    display: block;
    border-radius: 4px;
    transition: all .3s;
}

span.trigger:before {
    top: -8px;
}

span.trigger:after {
    top: 5px;
}
.menu-trigger a.open {
    color: #f099b3;
}

.menu-trigger a.open span:before, .menu-trigger a.open span:after {
    background: #f099b3;
}
.cl_navigation {
    width: 100%;
    max-width: 1204px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 2rem;
    transition: .5s;
}

.cl_menu {
    display: block;
    position: relative;
}

.cl_menu ul {
    display: flex;
    position: relative;
}

.cl_menu ul li {
    margin: 0 5px;
}

.cl_menu ul li a {
    color: #fff;
    font-weight: 600;
    padding: 0px 15px;
    display: block;
    position: relative;
    line-height: 27px;
}

.cl_menu ul li a.login-link {
    border: 1px solid #fff;
    border-radius: 30px;
}

.cl_menu ul li a.become-link {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #F099B3;
}
.logo-calo {display: block;position: relative;}

.logo-calo img {
    width: 130px;
}
.logo_black {
    display:none;
}
.fixed-top {
    position: fixed;
    transition: .5s;
    background-color: #fff;
    box-shadow: 1px 1px 17px -2px rgba(0, 0, 0, 0.2);
}
.fixed-top .logo_black {
    display: block;
}
.fixed-top .logo_white {
    display: none;
}

.fixed-top .cl_navigation {
    padding: 10px;
}

.fixed-top .cl_menu ul li a {
    color: #737373;
}

.fixed-top .cl_menu ul li a.find-space-link {
    color: #f7a052;
}

.fixed-top .cl_menu ul li a.login-link, .fixed-top .cl_menu ul li a.become-link {
    border: 1px solid #F099B3;
    color: #F099B3;
}
.section {
    padding: 3rem 1rem;
}
.section-hiw, .section-news {
    background-color: #fff;
}
.section-peek {
    position: relative;
    padding: 70px 1rem;
    background-color: #F4F1EA;
}

.cl_section_inner {
    text-align: center;
    padding: 2rem 1rem;
    position: relative;
}

.cl_section_content_wrap {
    position: relative;
}

.cl_section_title {
    position: relative;
    margin-bottom: 1rem;
}

.cl_section_title h3 {
    margin: 0;
    color: #f7a052;
    font-size: 42px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0.81px;
}
.cl_section_title p {
    margin: 0;
    color: #f7a052;
    font-size: 28px;
    font-family: Arbutus Slab;
    line-height: 1.8;
}

.cl_services_descr {
    width: 100%;
}

.cl_item_descr {
    position: relative;
}

.cl_columns {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    flex-flow: nowrap;
    width: 100%;
    position: relative;
}

.columns_wrap {
    flex-wrap: wrap;
    padding-top: 3rem;
}

.column-1_3 {
    width: calc(33% - 10px);
    position: relative;
    padding: 0 10px;
}
.column_padding_bottom {
    padding-bottom: 3rem;
}
.sc_services_item {
    width: 205px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 13px 22px -7px rgba(0, 0, 0, 0.2);
}

.border-radius_100 {
    border-radius: 100px 100px 0 0;
}


.object_bg {
    display: block;
    width: 205px;
    height: 300px;
    margin: 0 auto;
    background-size: cover !important;
}

.sc_services_item_content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    color: #fff;
    background: #F099B3;
    opacity: 0;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(241, 154, 177) 100%); */
    /* -webkit-transform: translateY(50em); */
    /* transform: translateY(50em); */
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    border-radius: 100px 100px 0 0;
}
.sc_services_item:hover .sc_services_item_content {
    opacity: 1;
    transform: translateY(0);
}
.sc_services_item_content a {
    color: #fff;
    padding: 1rem 0;
    /* -webkit-transform: scale(0); */
    /* transform: scale(0); */
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    position: relative;
    /* border: 2px solid; */
    border-bottom: 0;
    border-radius: 100px 100px 0 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.sc_services_item:hover .sc_services_item_content a {
    opacity: 1;
}
.sc_services_item:hover .sc_services_item_content a:after {
    left: 0;
    right:0;
}

.sc_services_item_content a:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 50%;
    bottom: 0px;
    background: #ffffff;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    display: none;
}
.sc_services_item_description p {
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
}
.cl_hw_descr {
    margin-top: 3rem;
}
.cl_buttons {
    color: #F099B3 !important;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent !important;
    position: relative;
    border: 0;
    padding: 5px;
    line-height: 20px;
    letter-spacing: 0.888px;
    outline: none;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}
.cl_buttons:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: -2px;
    background: #F099B3;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.cl_buttons:hover:before {
    left: 0;
    right: 0;
}


.cl_buttons:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    top: -2px;
    background: #F099B3;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.cl_buttons:hover:after {
    left:0;
}
.elementor-item {
    width: 100%;
    max-width: 325px;
    min-height: 315px;
    border-radius: 40px;
    background: rgba(244, 241, 234, 0.38);
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
    position: relative;
}

.cl_work_number {
    position: absolute;
    width: 73px;
    height: 73px;
    border: 2px solid #f099b3;
    background: #ffffff;
    color: #F099B3;
    font-size: 33px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 700;
    line-height: 70px;
    border-radius: 100%;
    top: -37px;
    transition: .3s;
}
.column_padding_bottom:hover .cl_work_number {
    transform: rotate(360deg);
}
.cl_work_ifo {
    display: block;
    position: relative;
    padding: 1rem 2rem;
}

.cl_work_title {
    color: #f099b3;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.cl_work_ifo  .cl_work_title span {
    color: #f099b3;
    font-size: 16px;
    margin: 0;
    display: block;
    padding: 0;
}
.text-uppercase {
    text-transform: uppercase;
}

.cl_work_subtitle {
    color: #f7a052;
    font-size: 28px;
    font-family: Arbutus Slab;
    letter-spacing: 1px;
    line-height: 1.3;
}
.cl_work_ifo span {
    font-size: 12px;
    color: #9a9a9a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-top: 10px;
}
.section-feedback {
    background: url(../images/bg.png) no-repeat top;
    background-size: cover;
    position: relative;
    width: 100%;
}
.section-feedback:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(240, 153, 179);
    background: -moz-linear-gradient(top, rgba(241,154,180,1) 0%, rgba(247,160,79,1) 100%);
    background: -webkit-linear-gradient(top, rgba(240, 153, 179, .8) 0%,rgba(247, 160, 79, .8) 100%);
    background: linear-gradient(to bottom, rgba(240, 153, 179, 0.8) 0%,rgba(247, 160, 82, .8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f19ab4', endColorstr='#f7a04f',GradientType=0 );
}

.cl_sl-title {
    font-size: 42px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 700;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.465px;
    color: #fff;
}

.cl_about_us {
    display: block;
    margin: 2rem 0;
}

.cl_said_box {
    color: #fff;
    font-size: 23px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    max-width: 85%;
    margin: 0 auto;
}

.blockquote-content {
    position: relative;
}

.blockquote-content blockquote {
    border-left: 0;
}

.blockquote-content blockquote i {
    font-size: 14px;
    position: relative;
    top: -15px;
}

.blockquote-content blockquote p {
    margin: 0 0 15px;
    font-size: 30px;
    letter-spacing: 1.5px;
    font-family: Arbutus Slab;
}

cite.light-text-06 {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
}
.memberName {
    text-transform: uppercase;
}

.memberName span {
    text-transform: initial;
}
.cl_about_us .owl-nav button {
    position: absolute;
    top: calc(50% - 40px);
    background: #fff !important;
    width: 40px;
    height: 40px;
    border-radius: 40px !important;
    box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.3);
}

.cl_about_us .owl-nav button.feedback-prev {
    left: 0;
    color: #f4a6b1 !important;
}

.cl_about_us .owl-nav button.feedback-prev span, .cl_about_us .owl-nav button.feedback-next span {
    line-height: 40px;
    font-size: 30px;
    color: #f4a6b1 !important;
}

.cl_about_us .owl-nav button.feedback-next {
    right: 0;
}

.cl_article_news {
    margin: 3rem 0;
    padding: 0 2rem;
}
.article_news {
    border: 1px solid #f7a052;
    position: relative;
    display: block;
    text-align: center;
    box-sizing: border-box;
    background: #f8f8f8;
    padding: 0;
    border-radius: 4px;
}
.article_news a {
    display: block;
}
.article_news img {
    height: 70px;
    width: 100% !important;
    display:block;
    margin: 0 auto;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .6s ease;
    -webkit-backface-visibility: hidden;
}
.article_news:hover img {
    filter: none;
    -webkit-filter: grayscale(0%);
}
.footer {
    background: #F4F1EA;
    position: relative;
    padding: 2rem;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.column_8 {
    width: 80%;
}

.cl_wiget_social {
    position: relative;
}

.column_4 {
    width: 20%;
}

.cl_wiget-title {
    display: block;
    position: relative;
}

.cl_wiget-title h4 {
    color: #f7a052;
    font-size: 28px;
    font-family: Arbutus Slab;
    font-stretch: normal;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 2rem;
    margin-top: 0;
}

.cl-wiget-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.wiget-column {
    width: 33%;
    position: relative;
}

.wiget-column-title {
    color: #F099B3;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.wiget-column-subtitle {
    color: #737373;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 36px;
}

.wiget-column-subtitle ol {
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 0;
}

.wiget-column-subtitle ol li {
    display: inline-block;
    margin-right: 5px;
}

.wiget-column-subtitle ol li a {
    display: block;
}

.wiget-column-subtitle ol li a img {
    width: 20px;
}

.wiget-menu {
    position: relative;
    display: flex;
    min-height: 125px;
    align-items: flex-end;
}

.wiget-menu ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.wiget-menu ol li a {
    color: #b4b3b1;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 600;
    line-height: 26px;
    text-decoration: underline;
    letter-spacing: 1px;
}
.menu-trigger a.open span.trigger {background: transparent;}
.menu-trigger a.open span.trigger:before {transform: rotate(-45deg);top: 3px;}
.menu-trigger a.open span.trigger:after {transform: rotate(45deg);top: 0px;}



.find_space_container {
    /* overflow: auto; */
}

.padding-2rem {
    padding: 6rem 2rem;
    position: relative;
}
.cl_find_space {
    height: 100%;
    min-height: 100vh;
}
.cl_find_content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2rem;
    flex-direction: column;
    margin-top: 2rem;
}

.cl_start_wlc {
    color: #fff;
    text-align: center;
    position: relative;
}

.uppercase {
    text-transform: uppercase;
}

.wlc-subtitle {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.wlc-title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 50px;
}

.small-width {
    max-width: 360px;
}

.cl_space-content {
    position: relative;
    display: block;
    width: 100%;
    max-width: 650px;
}

.cl-space-inner {
    background: #fff;
    width: 100%;
    border-radius: 20px;
    padding: 4rem;
}
.cl-space-item {
    position: relative;
    display: none;
}

.cl_space-title-qs {
    text-align: center;
    color: #f7a052;
    display: block;
    font-size: 23px;
    font-family: Arbutus Slab;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}
.cl_space-title-qs span {
    display: block;
    color: #737373;
    font-size: 12px;
    font-family: Work Sans;
    font-weight: 500;
    letter-spacing: .5px;
}

.cl_space-title-qs span a {
    color: #f7a052;
    font-weight: 500;
}

.slab-font {
    font-size: 28px;
    letter-spacing: 0;
}
.cl_form-group {
    position: relative;
    display: block;
    margin-bottom: 15px;
}

.cl_form-group label {
    color: #737373;
    font-weight: 500;
    letter-spacing: .7px;
}

.cl_form-group label span {
    color: #f099b3;
}

.cl_input {
    margin-bottom: 0 !important;
    background: #f6f4ef !important;
    border: 1px solid #f6f4ef !important;
    border-radius: 4px !important;
    padding: 0 15px !important;
    font-size: 14px !important;
    color: #737373 !important;
    height: 45px !important;
    box-sizing: border-box !important;
}

.cl_input:focus {
    border: 1px solid #fbb5ca !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(251, 181, 202,.6) !important;
}
.text-center {
    text-align: center;
}
.padding-1rem {
    padding: 0 2rem;
}
.cl_nav-button {
    text-align: center;
    display: flex;
    margin-top: 2rem;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cl_nav-button a {
    color: #737373;
    text-decoration: underline;
    font-weight: 500;
    margin-top: 5px;
    letter-spacing: 1px;
    font-size: 12px;
}
.cl_btn.next-step {
    min-width: 100px;
    height: 40px;
    background: #fff;
    border: 2px solid #f7a052;
    border-radius: 10px;
    color: #f7a052;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 2rem;
    outline: none;
    transition: .3s;
}

.cl_btn.next-step:hover {
    color: #fff;
    background: #f7a052;
}

.tsw-select-style {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    position: relative;
    width: 100%;
}
.set_Times {
    margin: 2rem 0;
    min-height: 200px;
}
.flex-grow {
    position: relative;
}

.selectStyle-box {
    position: relative;
}
.selectStyle-box p {
    text-transform: capitalize;
    margin-bottom: 10px;
}
.selectStyle-box label span {
    font-size: 12px !important;
    font-weight: 500;
    color: #737373;
}

.selectStyle-box [type="checkbox"]+span:not(.lever):before, .selectStyle-box [type="checkbox"]+span:not(.lever):after {
    width: 16px;
    height: 16px;
    background: #f6f4ef;
    border-color: #f4f6ef;
    border-radius: 2px;
    margin-top: 4px;
}
.selectStyle-box [type="checkbox"]:checked+span:not(.lever):before {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #f7a052;
    border-bottom: 2px solid #f7a052;
    background: transparent;
    top: -2px;
    left: -3px;
    width: 10px;
}

.col-4 {
    width: 32%;
}
.selectStyle-box .placeholder-icon {
    font-size: 14px;
    color: #d0d0d0;
    position: absolute;
    right: 5px;
    bottom: 15px;
}
.cl_add-anth {
    position: relative;
    display: block;
}

.cl_add-anth a {
    color: #f7a052;
    font-weight: 600;
}

.cl_add-anth a span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    line-height: 13px;
    font-weight: 400;
}
.cl_confirm_details span {
    display: block;
    color: #737373;
    font-size: 12px;
    font-family: Work Sans;
    font-weight: 500;
    letter-spacing: .5px;
}
.show-time-booking {
    border-bottom: 2px solid #f7a052;
    padding: 5px 20px;
    margin: 1.5rem 0;
}
.title-confirm span {
    text-align: center;
    color: #f7a052;
    display: block;
    font-size: 18px;
    font-family: -webkit-body;
    font-weight: 500;
    letter-spacing: 1px;
}
.select-wrapper {
    margin-bottom: 0 !important;
    background: #f6f4ef !important;
    border: 0 !important;
    border-radius: 4px !important;
    padding: 0 15px !important;
    font-size: 14px !important;
    color: #737373 !important;
    height: 45px !important;
    box-sizing: border-box !important;
}
.datepicker-calendar .select-wrapper {
    background: transparent !important;
}
.select-wrapper input.select-dropdown {
    border: 0 !important;
    height: 45px !important;
    line-height: 45px !important;
    margin: 0 !important;
}

.select-wrapper svg {
    position: absolute;
    right: 3px;
    top: 9px;
}

.tsw-select-cities {
    margin: 1.5rem 0;
}
span.sm-text {
    display: block;
    color: #737373;
    font-size: 12px;
    font-family: Work Sans;
    font-weight: 500;
    letter-spacing: 0;
}
.dropdown-content {
    max-height: 450px !important;
}
.padding-center {
    padding: 0 1.5rem;
}
#pagination-space {
    display: block;
    position: relative;
    margin: 1.5rem 0;
    text-align: center;
}

#pagination-space ol {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#pagination-space ol li a {
    border-radius: 15px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.4);
    margin: 0 10px;
}

#pagination-space ol li.active a {
    background: #fff;
}
.cl_policy_content {
    max-width: 1170px;
    background: #fff;
    border-radius: 20px;
    padding: 4rem 7rem;
}

.title-policy {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 500;
}

.cl_policy_content p {
    margin-bottom: 1rem;
    text-align: justify;
}
.cl_policy_content strong {
    font-weight: 600;
    text-align: justify;
}

.cl_policy_content ul {
    margin-left: 2rem;
    text-align: justify;
}

.cl_policy_content ul li {
    list-style-type: disc;
    text-align: justify;
}

.cl_policy_content ul ol {
    margin-left: 2rem;
    text-align: justify;
}

.cl_policy_content ul ol li {
    list-style-type: square;
    text-align: justify;
}

@media only screen and (min-width: 1281px) {
    .container {
        width: 70%;
    }
}
@media (max-width: 1280px) and (min-width: 993px) {
    .container {
        width: 85%;
    }
    .title-heading {
        font-size: 35px;
        line-height: 40px;
    }

    .windows-images {
        height: 65vh;
    }

    .cl_section_title p {
        font-size: 22px;
    }

    .cl_work_subtitle {
    }

    .cl_work_ifo {
        padding: 1rem;
    }

    .cl_work_title {
        padding: 0 1rem;
    }

    .cl_sl-title {
        font-size: 36px;
        line-height: 46px;
    }

    .blockquote-content blockquote p {
        font-size: 25px;
    }
}
@media (max-width: 1024px) and (min-width: 993px) {
    .cl_work_subtitle {
        font-size: 20px;
    }

    .cl_work_title {
        font-size: 13px;
    }
}
@media only screen and (max-width: 768px) {
    .menu-trigger {
        display: none;
        top: 1rem;
    }
    .logo-mb a {
        display: block;
    }

    .logo-mb img {
        width: 130px;
    }
    .heading-right {
        display: none;
    }

    .heading-left {
        width: 80%;
    }

    .flex-control-nav.flex-control-paging {
        width: 100%;
        left: 0;
        text-align: center;
    }
    .cl_section_title p {
        font-size: 20px;
    }

    .column-1_3 {
        width: 50%;
    }

    .cl_work_subtitle {
        font-size: 20px;
    }

    .cl_hw_descr .column-1_3 {
        width: 100%;
        margin-bottom: 1rem;
    }

    .elementor-item {
        max-width: 100%;
        min-height: 200px;
    }
    .cl_work_ifo .cl_work_title span {
        display: inline-block;
    }
    .cl_sl-title {
        font-size: 30px;
        line-height: 30px;
    }

    .blockquote-content blockquote p {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: .5px;
    }

    .blockquote-content blockquote i {
        font-size: 6px;
        top: -10px;
    }

    cite.light-text-06 {
        font-size: 13px;
    }

    .cl_about_us .owl-nav button {
        width: 30px;
        height: 30px;
    }

    .cl_about_us .owl-nav button span {
        line-height: 30px !important;
        font-size: 20px !important;
    }
}
@media only screen and (max-width: 460px) {
    .title-heading {
        font-size: 24px;
        line-height: 25px;
        font-weight: 600;
        letter-spacing: 0;
    }

    .heading-left {
        padding: 1rem;
    }
    .cl_section_title h3 {
        font-size: 30px;
    }

    .cl_section_title p {
        font-size: 13px;
        line-height: 16px;
    }

    .column-1_3 {
        width: 100%;
    }

    .cl_sl-title {
        font-size: 20px;
        line-height: 25px;
        font-weight: 600;
    }

    .section-feedback .cl_section_inner {padding: 0;}
    .section-feedback .cl_about_us {
        margin: 0;
    }
    .blockquote-content blockquote p {
        font-size: 11px;
        left: 0;
        line-height: 20px;
    }

    cite.light-text-06 {
        font-size: 9px;
    }
    .cl_wiget_social {width: 100%;}

    .footer-columns {
        flex-direction: column;
    }

    .cl_wiget_menu.column_4 {
        width: 100%;
    }

    .wiget-menu ol {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        flex-wrap: wrap;
    }

    .wiget-menu ol li {
        margin: 0 10px;
    }

    .wiget-column-subtitle {
        font-size: 13px;
    }

    .wiget-column-title {
        font-size: 11px;
    }

    .wiget-column-subtitle ol li a img {
        width: 15px;
    }

    .cl_wiget-title h4 {
        margin-bottom: 10px;
        font-size: 20px;
    }
}


/*========================MY CALO =======================*/

.fixed-footer {
    /* position: absolute; */
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    /* z-index: 1; */
    padding-left: 250px;
    transition: .5s;
}
.full-view .fixed-footer {
    padding-left: 0;
}
.my-calo-sidenav {
    z-index: 1;
    box-shadow: none;
    border-right: 1px solid #ddd;
    width: 250px;
    transition: .5s;
}

.sideNav-cl {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 3rem;
}

.title-sidenav {
    color: #f099b3;
    font-size: 21px;
    font-weight: 700;
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
}

.my-calo-sidenav .collapsible-header, .my-calo-sidenav .collapsible-header a {
    padding: 0 !important;
    width: 100%;
    display: block;
    min-height: 1rem;
}

.my-calo-sidenav .collapsible-header a {
    height: auto !important;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 13px;
    color: #737373;
}

.sideNav-cl .main_menu_navigation {
    width: 100%;
}

.sideNav-cl li a:hover,
.sideNav-cl li.active,
.collapsible-header:hover {
    background: transparent !important;
}
.side-nav .sideNav-cl .collapsible-body li {
    line-height: 30px;
}
.side-nav .sideNav-cl .collapsible-body li a {
    padding: 0;
    line-height: 35px;
    height: auto;
    color: #9a9a9a;
    font-size: 14px;
    letter-spacing: .7px;
    display: flex;
    font-weight: 400;
    align-items: center;
}
.side-nav .sideNav-cl .collapsible-body li a i.material-icons, .side-nav .sideNav-cl .collapsible-body li a i.fa {
    font-size: 21px;
    display: inline-block;
    margin-right: 5px;
    color: #bfbfbf;
}
.side-nav .sideNav-cl .collapsible-body li.active a, .side-nav .sideNav-cl .collapsible-body li.active a i {
    color: #222;
}

main {
    position: relative;
    margin-top: 66px;
    padding-left: 250px;
    min-height: 70vh;
    overflow: auto;
    transition: .5s;
}

.main_content {
    position: relative;
    padding: 3rem;
    display: block;
}

.row-group {
    display: block;
    margin-bottom: 15px;
}
.tab_navHeader {
    display: block;
    position: relative;
    padding: 0 10px;
}
.sort-date {
    width: 250px;
    display: block;
    padding: 0 10px;
}

.sort-date label {
    font-weight: 600;
    letter-spacing: .5px;
    margin-bottom: 10px;
    display: block;
}

.sort-date .select-wrapper {
    border: 1px solid #ddd !important;
    border-radius: 2px !important;
    background: #fcfbfa !important;
}
span.badge {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #f099b3;
    border-radius: 2px;
    min-width: 20px;
    min-height: 20px;
    line-height: 20px;
    padding: 0 2px;
}
.column-booked {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}


.column-3 {
    width: 33%;
    position: relative;
    padding: 10px;
}
@media only screen and (min-width: 1366px) {
    .full-view .column-lg-4 {
        width: 25%;
        padding: 10px;
    }
}
@media only screen and (max-width: 1366px) {
    .column-lg-4 {
       padding: 10px;
   }

}
@media only screen and (min-width: 1600px) {
    .column-lg-4 {
       width: 25%;
       padding: 10px;
   }

}
@media only screen and (max-width: 993px) {
    .column-sm-2 {
       width: 50%;
       padding: 0px;
   }
}

@media only screen and (max-width: 1024px) {
    .column-3{
       padding: 10px;
   }
   .my-calo-sidenav.fixed {
    left: -250px;
}
main {
    padding-left: 0;
}
.fixed-footer {
    padding-left: 0;
}
}
@media only screen and (max-width: 460px) {
    .column-3{
       width: 100%;
       padding: 10px;
   }
}
.card-cl {
    position: relative;
}

.border-grey {
}

.height-250 {
    max-width: 100%;
    margin: 0 auto;
}

.image-card {
    height: 160px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.card-content {
    background-color: #fff;
    padding: 20px 15px;
}

.card-content .title-space a {
    font-weight: 600;
    color: #737373;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0;
    line-height: 20px;
}

.city-location {
    display: flex;
    align-items: center;
    color: #737373;
    font-style: italic;
    font-size: 13px;
    margin-bottom: 15px;
}

.city-location i {
    font-size: 16px;
    margin-right: 5px;
}

.date-rq {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 15px;
}

.date-request {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 53%;
}
.date-request:last-child {
    width: 47%;
}
.date-request span, .status-card span {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11px;
    color: #9a9a9a;
    line-height: 16px;
    letter-spacing: .3px;
}
.date-request span.capitalize {
    text-transform: capitalize;
}
.status-card {
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
}
.status-space {
    display: block;
    margin: 5px 0;
}
.option-button {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.option-button a {
    max-width: 100% !important;
    width: 100%;
    background: transparent;
    border: 1px solid;
    border-radius: 8px;
    height: 28px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    outline: none;
    text-align: center;
    line-height: 28px;
    margin: 0 7px;
}
.option-button a:first-child {
    margin-left: 0;
}
.option-button a:last-child {
    margin-right: 0;
}
.option-button .border-pink {
    border-color: #ff90b3;
    color: #ff90b3;
}

.option-button .border-orange {
    border-color: #f7a053;
    color: #f7a053;
}

.option-button .border-grey {
    border-color: #c7c7c7;
    color: #c7c7c7;
}
.main_content .cl_rows {
    margin: 2rem 0;
}

.dropdown-content li>a, .dropdown-content li {
    outline: none;
}
.cl-load-more {
    display: flex;
    align-items: center;
    justify-content: center;
}

img.loadmore {
    width: 50px;
    display: none;
}
.cl-load-more.loading a {
    display: none;
}
.cl-load-more.loading img.loadmore {
    display: block;
}
.no-search-result {
    padding: 0 10px;
    margin: 15px 0;
}

.content-box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 2rem;
    text-align: center;
}
.tabs .indicator {
    background-color: #ee6e73;
}
.mw-80 {
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}
.linkedin-button {
    padding: 0;
    border: 0;
    background: #0077b5 !important;
    width: 100%;
    max-width: 300px;
    outline: none;
    margin: 20px auto;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    text-align: center;
}

.linkedin-button i {
    color: #fff;
    font-size: 25px;
    height: 45px;
    line-height: 45px;
    width: 45px;
    border-right: 1px solid #0f6a9a;
}

.linkedin-button span {
    width: calc(100% - 45px);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.service-agreements {
    width: 100%;
    display: flex;
    justify-content: center;
}

.service-agreements span {
    display: flex;
    color: #737373;
    font-size: 12px;
    font-family: Work Sans;
    font-weight: 500;
    letter-spacing: .5px;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin-right: 10px;
}
span.not-available {
    text-transform: capitalize;
    color: #f7a053;
    display: flex;
    /* align-items: center; */
}
span.not-available i {
    font-size: 13px;
    margin-left: 5px;
    color: #737373;
    cursor: help;
}

.material-tooltip {
    max-width: 300px;
    font-size: 13px;
    background-color: #333;
}
.date-row {
    display: flex;
    justify-content: space-between;
}
.bg-not-available {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(197, 197, 197, 0.7);
}
span.change-accepted {
    white-space: pre;
    font-size: 9px;
}

span.change-accepted i {
    margin-left: -13px;
    margin-top: -13px;
}

span.available-confirmed {
    font-size: 10px;
    white-space: nowrap;
}

span.available-confirmed i {
    margin-left: 1px;
}

.image-meeting {
    height: 750px;
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    transition: .5s;
}
.view-meeting {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    min-height: 750px;
}

.edit_image {
    width: 50%;
    position: relative;
}

.mtgs_edit_space_grid {
    width: 50%;
    padding: 3rem;
    background: #fff;
}
.mtgs_edit_space-content {
    padding-bottom: 2rem;
    position: relative;
}
.images-slider {
    border-radius: 0;
    height: 750px !important;
}
.images-slider .flex-control-nav {
    bottom: 10px;
    z-index: 111;
}

.images-slider .flex-control-nav a {
    width: 9px;
    height: 9px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: none;
}

.images-slider .flex-control-nav a.flex-active {
    background: #fff;
}
.images-slider .flex-control-nav a:hover {
    background: #fff;
}
.title-space {
    display: block;
    margin-bottom: 10px;
}

.title-space a {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 40px;
    color: #737373;
}

.tsw-grid--no-spacing {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.tsw-cell-flex {
    width: calc(25% - 7px);
    background: #f9f9f9;
    border-radius: 8px;
    padding: 5px;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    margin-right: 10px;
}

.icon-spc {
    width: 25px;
    display: inline-flex;
    height: 30px;
}

.icon-boardroom {
    background: url(../images/icons/boardroom.png) center no-repeat;
    background-size: cover;
    width: 22px;
    height: 30px;
}
.icon-workshop {
    background: url(../images/icons/workshop.png) center no-repeat;
    background-size: cover;
}
.icon-theatre {
    background: url(../images/icons/theatre.png) center no-repeat;
    background-size: cover;
}
.icon-standing {
    background: url(../images/icons/standing.png) center no-repeat;
    background-size: cover;
}

.stitile-space {
    width: calc(100% - 33px);
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    color: #9f9f9f;
    letter-spacing: .5px;
    line-height: 14px;
}
.stitile-space span {
    display: block;
    font-size: 11px;
    color: #ff99b3;
    font-family: Arbutus Slab;
    text-transform: none;
    font-weight: 400;
}
.tsw-card__price {
    display: block;
    margin: 30px 0;
}

.tsw-card__price p {
    color: #737373;
    margin-bottom: 10px;
}
.tsw-card__Amenities {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.tsw-card__supporting-text {
    display: flex;
    flex-direction: column;
}

.card__Amenities-title {
    font-weight: bold;
    color: #737373;
    text-transform: uppercase;
    letter-spacing: .75px;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 10px;
}

.card__Amenities-listed {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.card__Amenities-listed-cell {
    width: 45%;
}
.card__Amenities-listed-cell:first-child {
    width: 50%;
}
.card__Amenities-listed-cell p {
    color: #737373;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card__Amenities-listed-cell p i {
    margin-right: 0;
    font-size: 17px;
}
.card__Amenities-listed-cell p span {
    margin-left: 15px;
}
.icon-amenities {
    width: 17px;
    height: 17px;
}

.wifi {
    background: url(../images/icons/wifi.png);
    background-size: cover;
    background-position: 0;
}
.flipchart {
    background: url(../images/icons/flipcharts.png);
    background-size: cover;
    background-position: 0;
}
.projector {
    background: url(../images/icons/projectorscreen.png);
    background-size: cover;
    background-position: 0;
}
.tv {
    background: url(../images/icons/tv.png);
    background-size: cover;
    background-position: 0;
}
.whiteboards {
    background: url(../images/icons/whiteboards.png);
    background-size: cover;
    background-position: 0;
}
.catering {
    background: url(../images/icons/catering.png);
    background-size: cover;
    background-position: 0;
}
.mic {
    background: url(../images/icons/mic.png);
    background-size: cover;
    background-position: 0;
}
.naturallight {
    background: url(../images/icons/naturallight.png);
    background-size: cover;
    background-position: 0;
}
.elevator {
    background: url(../images/icons/elevator.png);
    background-size: cover;
    background-position: 0;
}
.free-parking {
    background: url(../images/icons/paidparking.png);
    background-size: cover;
    background-position: 0;
}
.street-parking {
    background: url(../images/icons/streetparking.png) no-repeat center;
    background-size: cover;
    background-position: 0;
}
.parkinglot {
    background: url(../images/icons/parkinglot.png) no-repeat center;
    background-size: cover;
    background-position: 0;
}
.not-Selected span, .not-Selected i.material-icons{
    color: #d8d8d8 !important;
}

.not-Selected i.icon-amenities {
    background-position: 18px;
}
.not-Selected i.whiteboards {
    background-position: 17px;
}

.not-Selected i.parkinglot {
    background-position: -22px;
}
.not-Selected i.street-parking {
    background-position: -21px;
}

.mtgs_location_space {
    position: relative;
    padding: 1rem 0;
    display: block;
}

.border-top {
    border-top: 2px solid #ccc;
}

.flex-beetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-link {
    color: #ff99b3;
    border: 1px solid #ff99b3;
    display: inline-block;
    width: 80px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    border-radius: 10px;
}

.locations_sp {
    display: inline-flex;
    align-items: center;
    border-bottom: 2px solid #737337;
    color: #737373;
    cursor: pointer;
}

.locations_sp span {
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 5px;
}

.locations_sp i {
    font-size: 15px;
}

.locations_sp:hover {
    color: #f7a052;
    border-bottom: 2px solid #f7a052;
}

.pdt-10 {
    padding-top: 10px;
}
#maps_space {
    height: 275px;
    width: 100%;
}

.maps_space {
    position: absolute;
    z-index: 11;
    left: 0;
    right: 0;
    bottom: 130px;
    display: none;
}

.locations_sp:hover .maps_space {
    display: block;
}
.toggleSideNav {
    text-align: left;
    position: fixed;
    padding: 2px;
    width: 50px;
    height: 100px;
    background: #f7a052;
    border-left: 0;
    top: calc(50% - 50px);
    left: 240px;
    border-radius: 100px;
    z-index: 111;
    color: #ffffff;
    line-height: 110px;
    cursor: pointer;
    display: block;
    transition: .5s;
}
.toggleSideNav:hover {
    left: 220px;
}
.toggleSideNav i {
    font-size: 25px;
    line-height: 50px;
    transform: rotate(180deg);
    transition: .5s;
}

.side-nav:hover .toggleSideNav {
    opacity: 1;
    visibility: visible;
}
.full-view .my-calo-sidenav {
    left: -215px;
}

.full-view .my-calo-sidenav .toggleSideNav {
    left: 225px;
}

.full-view .my-calo-sidenav .toggleSideNav i {
    transform: rotate(0deg);
}

.full-view main {
    padding-left: 35px;
}

.five-slt .tsw-cell-flex {
    width: calc(20% - 7px);
    flex-direction: row;
}

.five-slt .tsw-cell-flex .icon-spc {
    width: 16px;
    background-size: contain;
}

.five-slt .tsw-cell-flex .stitile-space {
    font-size: 9px;
    width: calc(100% - 20px);
}

.five-slt .tsw-cell-flex .stitile-space span {
    font-size: 9px;
}

@media only screen and (min-width: 1367px) {
    .full-view .five-slt .tsw-cell-flex .stitile-space {
        font-size: 11px;
        width: calc(100% - 25px);
    }

    .full-view .five-slt .tsw-cell-flex .stitile-space span {
        font-size: 11px;
    }

    .full-view .five-slt .tsw-cell-flex .icon-spc {
        width: 18px;
    }
}
@media only screen and (max-width: 1366px) {
    .five-slt .tsw-cell-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .five-slt .tsw-cell-flex .stitile-space {
        width: 100%;
        text-align: center;
    }
    .full-view .five-slt .tsw-cell-flex {
        flex-direction: row;
        justify-content:space-between;
    }
    .full-view .five-slt .tsw-cell-flex .stitile-space {
        width: calc(100% - 20px);
        text-align: left;
    }
    .full-view .column-booked {
        justify-content: flex-start;
    }
}

.edit_image .owl-dots {
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 0;
    right: 0;
}

.edit_image .owl-dots .owl-dot span {
    background: rgba(255, 255, 255, 0.5);
}

.edit_image .owl-dots .owl-dot.active span {
    background: #fff;
}
.edit_image .owl-dots .owl-dot:hover span {
    background: #fff;
}
.price-space {
    color: #f7a052;
    font-family: Arbutus Slab;
    position: absolute;
    z-index: 11;
    min-width: 200px;
    text-align: center;
    top: 100px;
}
.price-wk {
    margin-bottom: 5px;
    background: #fff;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    font-size: 15px;
}

.price-wk strong {
    color: #747474;
    font-weight: 600;
}
.item {
    width: 100%;
}
.carousel .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}
.carousel .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 24px 4px;
    background-color: rgba(255,255,255,0.5);
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
}

.carousel .indicators .indicator-item.active {
    background-color: #fff;
}
.close-maps {
    position: absolute;
    z-index: 1;
    font-size: 25px;
    right: 0;
    top: -30px;
    cursor: pointer;
}
.dashboard {
    padding: 2rem;
    position: relative;
}

.tsw-grid-dashboard {
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
}

.space_heading {
    font-weight: 600;
    text-transform: uppercase;
    color: #737373;
    letter-spacing: .75px;
    margin-bottom: 10px;
}

.mtgs_space-content {
    margin-bottom: 2rem;
}
.flex-field {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.field-col-3 {
    width: calc(33% - 5px);
    margin-bottom: 15px;
}

.field-col-4 {
    width: calc(25% - 10px);
    margin-bottom: 15px;
}
.colspan-3 {
    display: block;
    margin-bottom: 5px;
}

.add-creditcard {
    display: inline-flex;
    align-items: center;
    color: #a7a7a7;
    cursor: pointer;
}
.add-creditcard .ic {
    font-size: 25px;
    margin-right: 5px;
}

.content-vr {
    display: block;
    margin: 70px auto;
    max-width: 1170px;
    position: relative;
}

.title-vr {
    text-align: center;
    color: #fff;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 45px;
}

.title-vr span {
    display: block;
    font-weight: 400;
    font-family: Arbutus Slab;
    font-size: 28px;
}
.content-steps {
    margin: 50px 0 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 70px 20px;
}

.steps-vr {
    padding: 0 1rem;
    position: relative;
}

.c3 {
    width: 33%;
}

.steps-nb i {
    display: none;
}

.steps-nb {
    width: 70px;
    height: 70px;
    background: #fff;
    border: 2px solid #ff99b3;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 65px;
    font-size: 33px;
    font-weight: 700;
    z-index: 2;
    color: #ff99b3;
    position: absolute;
    top: -70px;
    left: calc(50% - 35px);
}

.steps-done .steps-nb span {
    display: none;
}
.steps-done .steps-nb {
    background: #ff99b3;
    border: 3px solid #fff;
}
.steps-done .steps-nb i {
    display: block;
    font-size: 45px;
    line-height: 65px;
    color: #fff;
}

.steps-box {
    background: #fff;
    padding: 4rem;
    border-radius: 60px;
    min-height: 300px;
    position: relative;
    margin-top: -35px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.steps-box .linkedin-button {
    margin-top: 0;
}

.steps-box .linkedin-button i {
    text-align: center;
}

.steps-box .linkedin-button span {
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

.desc-vr span {
    color: #a9a9a9;
    font-size: 11px;
    letter-spacing: .5px;
    text-align: center;
    display: block;
}
.desc-vr span.keep-txt {
    color: #f7a052;
    font-size: 16px;
    font-family: Arbutus Slab;
}
.title-steps {
    text-align: center;
    display: block;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ff99b3;
    line-height: 22px;
    margin-bottom: 20px;
}

.title-steps span {
    display: block;
}
.footer-vr {
    max-width: 670px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.footer-text {
    color: #fff;
    font-size: 12px;
    letter-spacing: .5px;
}
.desc-vr {
    text-align: center;
}

.steps-next {
    display: inline-block;
    background: #ff99b3;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 15px);
}

.steps-next i {
    line-height: 30px;
}

.verify-prefencenes {
    max-width: 800px;
}

.verify-prefencenes .title-verify {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 15px;
}
.verify-prefencenes_title {
    max-width: 800px;
    margin-bottom: 30px;
}

.verify-prefencenes_title span {
    font-size: 21px;
    line-height: 25px;
}
.vr_qs {
    display: block;
    margin-bottom: 30px;
}
.vr_button {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
    align-items: center;
}

.vr_button a {
    margin-right: 15px;
    display: inline-flex;
    border: 2px solid #f1f1f1;
    background-color: #f1f1f1;
    color: #6f6f6f;
    border-radius: 6px;
    height: 40px;
    line-height: 36px;
    padding: 0 1rem;
}

.vr_button button {
    height: 40px;
    padding: 0 1rem;
    color: #f7a052;
    background: #fff;
    border: 2px solid #f7a052;
    border-radius: 10px;
    width: 110px;
    font-weight: 600;
    outline: none;
    position: relative;
    overflow: hidden;
    transition: .3s;
    z-index: 1;
}
.hepl-content__layout {
    position: relative;
    display: block;
    padding-bottom: 0 !important;
}
.sign-up__plans {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    float: none !important;
}
.form_pay {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #f1f1f1;
}
.form_pay ul.collapsible {
    margin: 0 auto 20px;
    box-shadow: none;
    border: 0;
}
.form_pay ul.collapsible li {
    border: 1px solid #E8EBED;
    padding: 20px 0;
    border-radius: 5px;
    margin: 0 auto 20px;
    min-height: 70px;
    box-sizing: border-box;
    box-shadow: none;
}
.form_pay .collapsible-header {
    align-items: center;
    outline: none;
    border: 0;
    display: flex;
}
.form_pay .collapsible-header i {
    width: 40px;
    height: 30px;
    position: relative;
    background: url(https://live.adyen.com/sf/q7KUHzFD/img/logo_cc.svg) no-repeat;
    background-size: auto;
    background-position: 3px 2px !important;
}
.form_pay .collapsible-header i.icon_open_credit {
    background: url('../..//images/open-credit.png') no-repeat center;
    background-size: 98%;
}
.form_pay .collapsible-header span {
    font-size: 16px;
    font-weight: 600;
}
.form_pay .collapsible-body {
    padding: 15px 20px;
}
.form_pay .collapsible-body, .form_pay .collapsible-body tr {
    border: 0;
}
.info_cvc {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: help;
    color: #4cbed5;
}
.security_info {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background: #fff;
    position: absolute;
    top: -180px;
    right: 15px;
    z-index: 1;
    display: none;
}
.security_info.show {
    display: block;
}
.security_info .close {
    font-size: 25px;
    position: absolute;
    right: 5px;
    top: -4px;
    cursor: pointer;
}
.security_title {
    margin-bottom: 15px;
}
.security_para {
    font-size: 12px;
    margin-bottom: 10px;
}
.total-count {
    display: block;
    margin-bottom: 10px;
}

.total-count h5 {
    font-size: 16px;
}

.total-count span {
    font-weight: 600;
}

.form_pay .collapsible-body button {
    height: 40px;
    line-height: 40px;
    box-shadow: none;
    font-size: 14px;
}
.w7 {
    max-width: 700px;
    display: block;
}

.totla-top {
    text-align: center;
    padding: 15px;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
    font-weight: 600;
    border: 1px solid #f1f1f1;
    font-size: 16px;
}

.form-pay-footer {
    display: block;
    text-align: right;
}
.title-pay {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}
.credit-card-items {
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 15px !important;
    cursor: pointer;
    border: 1px solid #ddd;
}

.card-item-name {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
}

.card-item-number {
    color: #999;
}

.name-on-card {
    text-transform: uppercase;
    font-size: 12px;
}

span.number-card {
    font-size: 12px;
}
.form-crc {
    width: 50%;
    position: relative;
    padding: 15px;
}

.list-items {
    width: 50%;
    position: relative;
    padding: 15px;
}
@media only screen and (max-width: 1024px) {
    .header-slider,
    .slider-heading.heading-content,
    .heading-right {
        height: 55vh;
    }
    .heading-right {
        padding: 0 1.5rem;
    }
}
@media only screen and (max-width: 768px) {
    .header-slider,
    .slider-heading.heading-content,
    .heading-right {
        height: 65vh;
    }
    .heading-right {
        padding: 0 1.5rem;
    }

    .form_pay {
        flex-direction: column;
    }
    .form-crc, .list-items {
        width: 100%;
    }
    .view-meeting {
        flex-direction: column;
    }
    .edit_image, .mtgs_edit_space_grid {
        width: 100%;
    }
    .view-meeting {
        min-height: 450px;
        margin-bottom: 50px;
    }
    .image-meeting {
        height: 450px;
    }
    .images-slider {
        height: 450px !important;
    }
    .content-steps {
        flex-direction: column;
        padding-bottom: 0;
    }
    .c3 {
        width: 100%;
        margin-bottom: 85px;
    }
    .desc-vr span {
        font-size: 14px;
    }
}
@media only screen and (max-width: 450px) {
    .header-slider,
    .slider-heading.heading-content,
    .heading-right {
        height: 100%;
        min-height: 65vh;
    }
    .cl_find_content {
        padding: 5px;
    }
    .padding-1rem {
        padding: 0;
    }
    .cl-space-inner {
        padding: 20px;
    }
    .cl_space-title-qs {
        font-size: 16px !important;
    }
    .cl_space-title-qs span, .cl_form-group label {
        font-size: 9px;
    }
    .field-col-3 {
        width: 100%;
    }
    .hepl-content__layout {
        padding: 0 !important;
    }
    .mw-80 {
        max-width: 100%;
    }
    .title-vr {
        font-size: 20px;
    }
    .verify-prefencenes_title span {
        font-size: 15px;
    }
    .full-view main {
        padding: 0;
    }
    .main_content {
        padding: 3rem 1rem;
    }
    .dashboard {
        padding: 0;
    }
    .view-meeting {
        min-height: 250px;
        margin-bottom: 50px;
    }
    .image-meeting {
        height: 250px;
    }
    .images-slider {
        height: 250px !important;
    }
    .mtgs_edit_space_grid {
        padding: 10px;
    }
    .title-space a {
        font-size: 16px;
    }
    .tsw-grid--no-spacing {
        flex-wrap: wrap;
        justify-content: center;
    }
    .five-slt .tsw-cell-flex {
        width: calc(50% - 10px);
        margin-bottom: 10px;
    }
    .tsw-card__price {
        margin: 10px 0;
    }

    .card__Amenities-listed {
        flex-direction: column;
    }

    .card__Amenities-listed-cell {
        width: 100% !important;
    }
    .tabs .tab a {
        font-size: 9px;
    }
    .title-vr span {
        font-size: 20px;
        line-height: 21px;
    }
    .cl_menu {
        position: absolute;
        top: 65px;
        background: #fff;
        left: 0;
        right: 0;
        padding: 1rem;
        border-top: 1px dotted #f7a052;
        display:none;
    }

    .cl_menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cl_menu ul li {
        margin: 0;
        padding: 10px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cl_menu ul li:last-child {
        border: 0;
    }
    .mobile-menu {
        display: block;
        right: 20px;
        left: auto;
        top: 20px;
    }

    .mobile-menu a span, .mobile-menu a span:before, .mobile-menu a span:after {
        background: #f7a052;
    }

    .mobile-menu a.open span:before, .mobile-menu a.open span:after {
        background: #f7a052;
    }

    .mobile-menu a {
        height: 36px;
        top: 0;
        position: absolute;
        right: 0;
    }
    .menu-trigger {
        display: block;
        left: auto;
        right: 1rem;
    }
    .navigation-calo {
        position: fixed;
        transition: .5s;
        background-color: #fff;
        box-shadow: 1px 1px 17px -2px rgba(0, 0, 0, 0.2);
    }
    .cl_navigation {
        padding: 10px;
    }
    .logo_black {
        display:block;
    }
    .logo_white {
        display: none;
    }
    .cl_menu ul li a {
        color: #737373;
    }
    .cl_menu ul li a.find-space-link {
        color: #f7a052;
    }
    .cl_menu ul li a.login-link, .cl_menu ul li a.become-link {
        border: 1px solid #F099B3;
        color: #F099B3;
    }
}
.radius-65 {
    border-radius: 65px;
    background: #f4f1ea;
}
.cl_00-grey p {
    color: #808080;
    font-size: 20px;
    font-weight: 500;
}

.cl_00-grey p small {
    margin: 2rem 0;
    display: block;
    font-size: 13px;
    letter-spacing: .5px;
}
.cl_nav-button .btn-continue {
    text-decoration: none;
    display: inline-block;
    background: transparent !important;
    border: 0;
    border-bottom: 2px solid #ee9ab3;
    height: 45px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color: #ee9ab3 !important;
}
.mw800 {
    max-width: 800px;
}
.space-bw {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;
    margin-bottom: 0 !important;
}

.s3 {
    width: calc(33% - 10px);
}
.mw800 .cl_nav-button .btn-continue {
    height: 35px;
    font-size: 20px;
}
.lf-row {
    display: flex;
    margin: 0 -10px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.lf-row .col.s6 {
    width: 45%;
    float: none;
    margin: 0;
}

.lf-row .col.s6 input {
    margin-bottom: 10px;
    display: block;
}

.lf-row .col.s6 a span {
    font-size: 13px;
}

.or {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: #777;
    text-transform: uppercase;
}
.spl__m {
    display: block;
    margin-bottom: 15px;
    position: relative;
    padding: 4rem;
    max-width: 800px;
}

.spl__m_title {
    color: #fff;
    display: block;
    font-size: 23px;
    font-family: Arbutus Slab;
    font-weight: 500;
    margin-bottom: 20px;
}

.spl__lg {
    display: flex;
    align-items: center;
    width: 100%;
}

.spl__logo-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.spl__wg {
    width: calc(33% - 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 5px;
}
.spl__wg:after {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    width: 2px;
    right: -7px;
    background: #fff;
}
.spl__wg:last-child:after {
    display: none;
}
.spl_img {
    width: calc(50% - 20px);
}
.spl_img.right_ar {
    width: 30px;
}
.spl_img img {
    width: 100%;
}
.cl_nav-button .color-white {
    color: #fff !important;
    border-color: #fff !important;
}
.modal-overlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
}
span.count {
    position: absolute;
    left: 50%;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: #f7a052;
    color: #ffffff;
    font-size: 11px;
    top: 0;
    font-weight: 400;
    line-height: 1rem;
    border: none;
    text-align: center;
}
.sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 11;
    will-change: opacity;
    opacity: 0;
    display: none;
}

.sidenav {
    position: fixed;
    width: 300px;
    right: 0;
    top: 63px;
    margin: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 1000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
}
.side-shadow {
    /* box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.notifications_sidenav {
    transition: .3s;
    top: 66px;
    /* border-top: 1px solid #ccc; */
}

.table-clearfix {
    display: table;
    width: 100%;
}

.notifications_sidenav .notifications-subcontainer {
    box-shadow: none;
    padding: 20px 10px;
    background: transparent;
}
.notifications {
    padding-left: 50px;
    position: relative;
    margin: 0;
    list-style: none;
    background: transparent;
    height: 310px;
    overflow: auto;
}
ul.notifications.full-height {
    height: auto;
    padding-left: 35px;
}
.with-dots:before {
    bottom: 0;
    content: ' ';
    border-width: 0 0 0 2px;
    border-color: #fbfbfb;
    border-style: solid;
    left: 26px;
    position: absolute;
    top: 6px;
    width: 2px;
}
ul.notifications.full-height:before {
    border-color: #e9e9e9;
    border-width: 0 0 0 1px;
    left: 12px;
}
.notifications li {
    color: #354052;
    display: flex;
    flex-flow: row nowrap;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 10px;
    position: relative;
}
.notifications li:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #e9e9e9;
    left: -28px;
    top: calc(50% - 5px);
    border-radius: 10px;
}
.notifications li a {
    color: #777;
    padding: 15px;
    background: #ffffff;
    border-radius: 2px;
    display: block;
    font-size: 13px;
    width: 100%;
    box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.06);
}
.notifications li.unread a {
    background: #f6f6f6;
}
.notification_bar {background: #f7a052;text-align: left;padding: 5px 15px;position: relative;}
.notification_bar a {
    color: #ffffff;
    font-size: 12px;
    text-transform: capitalize;
}
.load_more_notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.notifications-subcontainer .show_me_more {
    display: inline-block;
    margin: 10px 0;
    border: 1px solid #c3c3c3;
    color: #969696;
    padding: 5px 10px;
    border-radius: 3px;
}
.edit_image .carousel .indicators {
    display: none;
}

.hover-effect {
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}
.carousel.carousel-slider .carousel-item:hover .hover-effect {
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    visibility: visible;
}

.hover-effect span {
    display: inline-block;
    background: #fff;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    border-radius: 4px;
    color: #222;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}
.edit_image:hover .price-space {
    opacity: 0;
    transition: .5s;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 999;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
#preloader > .loader {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
#preloader > .loader img {
    width: 100px;
}
#preloader > .loader > span {
    display: block;
    margin-top: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: bold;
    color: #737373;
}
.show-amenities {
    color: #ff99b3;
    border: 1px solid #ff99b3;
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    border-radius: 10px;
    padding: 0 15px;
}
.amenities-div {
    display: none;
    position: absolute;
    z-index: 11;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    background: #fff;
    padding: 2rem 3.5rem;
    margin: 0 !important;
} 

.amenities-div.in {
    display: block;
}