* {
    padding: 0;
    margin: 0;
}

body {
    font-weight: 400;
    background: #efefef;
}
p {
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
}
a:focus, a:hover {
    text-decoration: none;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
  transition: .5s;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #4dbed5), color-stop(0.72, #4cbed5), color-stop(0.86, #4cbed5));
}

::selection {
  color: #fff;
  background: #4dbed5;
}
::-moz-selection {
  color: #fff;
  background: #4dbed5;
}
header,
main,
footer {
  padding-left: 240px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
}
}
main {
  min-height: 85vh;
  padding-top: 25px;
  margin-top: 55px;
  transition: .3s;
}
/*table a {
    color: #373636;
}*/
#credits li,
#credits li a {
  color: white;
}

#credits li a {
  font-weight: bold;
}

.footer-copyright .container,
.footer-copyright .container a {
  color: #9a9a9a;
  font-size: 12px;
}

.fab-tip {
  position: fixed;
  right: 85px;
  padding: 0px 0.5rem;
  text-align: right;
  background-color: #323232;
  border-radius: 2px;
  color: #FFF;
  width: auto;
}

.add_league_title {
  text-align: left;
}
.add_league_title button.submit_form {
    margin-left: 3rem;
}
.custom-table thead {
    border-bottom: 0;
    background: radial-gradient(circle at 50% 55%,#cc1a1a,#c70101),linear-gradient(#c70101,#e60000);
    color: #fff;
}

.custom-table thead th {border-radius: 0 !important;}


.custom-table td a {
    font-size: 18px;
    color: #1a1a1a;
}
.man-utd-black {
    background: #1a1a1a;
}

.man-utd-black a {
    color: #fff;
    font-size: 14px;
}

.header-80 {
    display: flex;
    justify-content: flex-end;
    height: 80px;
}

.header-80 .dropdown-button {
    display: flex;
    height: 80px;
    align-items: center;
}

.header-80 .dropdown-content {
    top: 80px !important;
    width: 150px !important;
    background: #222;
    height: 45px;
    overflow: hidden;
    outline: none;
}

.header-80 .dropdown-content li a {
    overflow: hidden;
    color: #fff !important;
    font-size: 14px;
}

.header-80 .dropdown-content li:hover {
    background: #222 !important;
}
.toggle-sidenav {
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-flex;
    top: -5px;
    margin-left: 255px;
    transition: .3s;
}

.toggle-sidenav span {
    height: 1px;
    width: 30px;
    background: #fff;
    position: relative;
    display: block;
}

.toggle-sidenav span:before, .toggle-sidenav span:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 30px;
    background: #fff;
    top: -10px;
    display: block;
    z-index: 1;
}

.toggle-sidenav span:after {
    top: 10px;
}
.alert {
    display: block;
    width: 100%;
    float: left;
}

.alert span.error p {
    color: #f32f2f;
    background: #ffe5e5;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 4px;
    border: 1px solid #ffc3c3;
}

.alert span.success p {
    color: #21a026;
    background: #d5ffd7;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 4px;
    border: 1px solid #9ed2a1;
}
.upload-logo .btn {
    height: 36px;
    line-height: 36px;
}

.upload-logo .btn span {
    font-size: 14px;
}

.upload-logo .upload_logo_home {
    background: #cc1919;
}

.upload-logo input.file-path {
    height: 36px;
}
.select-wrapper .caret {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 0;
    fill: rgba(0,0,0,0.87);
}
.custom-table td.flex_flag {
    display: flex;
    align-items: center;
}

.custom-table td.flex_flag span.gdlr-team-flag {
    max-width: 35px;
    margin-right: 10px;
}

.custom-table td.flex_flag span.gdlr-team-flag img {
    width: 100%;
}
.error {
    color: red;
}
td.avatar_col {
    width: 50px;
    display: block;
}

td.avatar_col img {
    width: 100%;
}
.tsw-layout-login {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background: url(../images/bg.jpg) center;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
}
.tsw-layout-login:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(50deg, HSLA(205, 72%, 7%, 1), #240007);
    opacity: 0.6;
}
.tsw-login-content {
    position: relative;
    display: block;
    width: 100%;
    max-width: 400px;
}

.tsw-form_login .tsw-logo {
    width: auto;
    display: block;
    text-align: center;
}
.tsw-form_login .tsw-logo h4 {
    color: #777;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 40px;
}
.tsw-form_login .tsw-logo img {
    width: 250px;
}

.tsw-form-layout {
    width: 100%;
    display: block;
}

.tsw-form_login {
    width: 100%;
    display: block;
    background: rgb(255, 255, 255);
    padding: 80px 20px 50px;
    border-radius: 4px;
    -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.login-ic {
    position: relative;
    margin-bottom: 1.5em;
    padding: 5px;
    display: table;
    width: 100%;
    background: rgba(255, 255, 255, 0.68);
}
.login-ic i {
    width: 38px;
    height: 38px;
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    line-height: 38px;
}
.login-ic input[type="text"], .login-ic input[type="password"] {
    float: left;
    background: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 16px;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.35);
    width: 82%;
    display: inline-block;
    margin-left: 7px;
}
.tsw-forgot {
    text-align: right;
    display: block;
    margin-bottom: 15px;
}

.tsw-forgot a {
    color: #777;
}

.tsw-button {
    display: block;
}

.tsw-button a {
    width: 100%;
    color: #fff;
}
.tsw-form-layout .input-field label {
    font-weight: 400;
    color: #777;
}

.tsw-form-layout .input-field i {
    top: 1rem;
    color: #777;
}
.tsw-login-content.signUp_form {
    max-width: 700px;
}
.tsw-form-layout .col.s12 {
    margin: 0 0 10px;
}
.btn-tsw_main {
    background: #4cbed5;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    height: 45px;
    line-height: 45px;
}
.form_signup_plans {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form_signup_plans_header {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.side-nav {
    transition: .3s;
    background: #373636;
}
.side-nav .collapsible, .side-nav.fixed .collapsible {
    border: none;
    box-shadow: none;
    max-height: calc(100vh - 125px);
    overflow: auto;
}
.header_sidenav {
    background: #4cbed5;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_sidenav .row {
    margin: 0;
}

nav.site-head {
    height: 55px;
    line-height: 55px;
    background: #363635;
    position: fixed;
    z-index: 980;
    right: 0;
    top: 0;
}
.side-nav li .profile {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    line-height: 1.6;
    border-bottom: 1px solid #494949;
}

.side-nav li .profile img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    float: left;
}

.side-nav li .profile .group {
    color: #464646;
    margin-left: 15px;
    display: inline-flex;
    flex-direction: column;
    text-align: left;
}

.side-nav li .profile .group .name {
    margin-bottom: 5px;
    white-space: nowrap;
    font-size: 14px;
    line-height: 15px;
    display: block;
    margin-top: 0;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.side-nav li .profile .group small.desig {
    text-transform: uppercase;
    color: #fff;
}
nav.site-head .user_dropdown i {
    height: 55px;
    line-height: 55px;
    color: #fff;
}

nav.site-head .user_dropdown {
    position: relative;
}

nav ul li {
    position: relative;
}

nav.site-head .dropdown-content {
    top: 55px !important;
}
.main_menu_navigation li {
    line-height: 50px;
    text-transform: uppercase;
}
.side-nav .main_menu_navigation li a {
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    color: #fff;
    display: flex;
    align-items: center;
    background: transparent;
}
.side-nav .main_menu_navigation li a i.material-icons {
    display: inline-flex;
    margin-right: 10px;
    font-size: 17px;
}
.side-nav .main_menu_navigation li .collapsible-body li a {
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    font-weight: 400;
    text-transform: capitalize;
    color: #969696;
    display: flex;
    flex-direction: column;
}
.side-nav .main_menu_navigation .collapsible-body li.active {
    background-color: #f4f4f4;
}

.side-nav .main_menu_navigation .collapsible-body li.active a {
    color: #fff;
}
.side-nav .collapsible-header font {
    font-weight: 600;
    font-size: 13px;
    color: #7b7b7b;
}
.main_menu_navigation li.active {
    background: #4cbed5;
}
.side-nav li .collapsible-header a {padding: 0;}

.side-nav li .collapsible-header a i {
    width: auto;
}

.main_menu_navigation li.active font, .main_menu_navigation li.active a {
    color: #fff;
}
.side-nav .collapsible-body, .side-nav.fixed .collapsible-body {
    background: #4a4a4a;
}
.side-nav .main_menu_navigation .collapsible-body li.active {
    background-color: #363635;
}
.content_main {
    position: relative;
    display: block;
    padding: 0 15px;
}
.nav-wrapper {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.nav-wrapper a {
    color: #606060;
    font-size: 13px;
}

.nav-wrapper .breadcrumb:before {
    color: #ccc;
    font-size: 16px;
}
.mb20 {
    margin-bottom: 20px;
}

.modal-overlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
}
.modal_create_question {
    width: 450px;
    border-radius: 4px;
}
.notifications-container {
    padding: 0 10px;
}

.notifications-subcontainer, .user-info-content {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    cursor: pointer;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.heading-title {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

.notifications {
    padding-left: 50px;
    position: relative;
    margin: 0;
    list-style: none;
    background: transparent;
    height: 310px;
    overflow: auto;
}

.with-dots:before {
    bottom: 0;
    content: ' ';
    border-width: 0 0 0 2px;
    border-color: #fbfbfb;
    border-style: solid;
    left: 26px;
    position: absolute;
    top: 6px;
    width: 2px;
}

.notifications li {
    color: #354052;
    display: flex;
    flex-flow: row nowrap;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 10px;
    position: relative;
}

.notifications li a {
    color: #777;
    padding: 15px;
    background: #ffffff;
    border-radius: 2px;
    display: block;
    width: 100%;
    box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.06);
}

.notifications li:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #e9e9e9;
    left: -28px;
    top: calc(50% - 5px);
    border-radius: 10px;
}
.notifications_number {
    position: absolute;
    top: 10px;
    right: 8px;
    color: #fff;
    background: red;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 20px;
    font-size: 9px;
}
.bookings-container {
    position: relative;
    padding: 0 20px;
}
.content-booking {
    display: flex;
    margin: 40px 0px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 25px 10px;
    flex-direction: column;
}
.search_ {
    width: 100%;
    position: relative;
    outline: none;
}

.search_ span {
    position: absolute;
    right: -10px;
    top: 13px;
    color: #ccc;
    outline: none;
}

.search_ input {
    outline: none !important;
    background: #f1f1f1;
    border: 0;
    padding: 0 10px;
    border-radius: 4px;
}
.content_subheader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}
.content_subheader a {
    text-transform: capitalize;
}
.fc-calendar-container {
    position: relative;
    height: 400px;
    width: 400px;
}
.fc-calendar {
    width: 100%;
    height: 100%;
}
.fc-calendar .fc-head {
    height: 30px;
    line-height: 30px;
    background: #ccc;
    color: #fff;
}
.fc-calendar .fc-body {
    position: relative;
    width: 100%;
    height: 100%;
    height: -moz-calc(100% - 30px);
    height: -webkit-calc(100% - 30px);
    height: calc(100% - 30px);
    border: 1px solid #ddd;
}
.fc-calendar .fc-row {
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.fc-four-rows .fc-row  {
    height: 25%;
}
.fc-five-rows .fc-row  {
    height: 20%;
}
.fc-six-rows .fc-row {
    height: 16.66%;
    height: -moz-calc(100%/6);
    height: -webkit-calc(100%/6);
    height: calc(100%/6);
}
.fc-calendar .fc-row > div, .fc-calendar .fc-head > div {
    float: left;
    height: 100%;
    width:  14.28%; /* 100% / 7 */
    width: -moz-calc(100%/7);
    width: -webkit-calc(100%/7);
    width: calc(100%/7);
    position: relative;
}
.ie9 .fc-calendar .fc-row > div, .ie9 .fc-calendar .fc-head > div {
    width:  14.2%;
}
.fc-calendar .fc-row > div {
    border-right: 1px solid #ddd;
    padding: 4px;
    overflow: hidden;
    position: relative;
}
.fc-calendar .fc-head > div {
    text-align: center;
}
.fc-calendar .fc-row > div > span.fc-date {
    position: absolute;
    width: 30px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #ddd;
    text-shadow: 0 -1px 0 rgba(255,255,255,0.8);
    bottom: 5px;
    right: 5px;
    text-align: right;
}
.fc-calendar .fc-row > div > span.fc-weekday {
    padding-left: 5px;
    display: none;
}

.fc-calendar .fc-row > div.fc-out {
    opacity: 0.6;
}
.fc-calendar .fc-row > div:last-child,.fc-calendar .fc-head > div:last-child {
    border-right: none;
}
.fc-calendar .fc-row:last-child {
    border-bottom: none;
}
.custom-calendar-wrap {
    margin: 10px auto;
    position: relative;
    overflow: hidden;
}
.custom-inner {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    overflow: hidden;
    border-radius: 3px;
}
.custom-inner:before,.custom-inner:after  {
    content: '';
    width: 99%;
    height: 50%;
    position: absolute;
    background: #f6f6f6;
    bottom: -4px;
    left: 0.5%;
    z-index: -1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.custom-inner:after {
    content: '';
    width: 98%;
    bottom: -7px;
    left: 1%;
    z-index: -2;
}
.custom-header {
    background: #4dbed5;
    padding: 5px 10px 10px 20px;
    height: 70px;
    position: relative;
    border-top: 5px solid #4dbed5;
    border-bottom: 1px solid #ddd;
}
.custom-header h2,.custom-header h3 {
    text-align: center;
    text-transform: uppercase;
}
.custom-header h2 {
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0 !important;
}
.custom-header h3 {
    font-size: 15px;
    font-weight: 700;
    color: #FFF;
    margin: 5px;
}
.custom-header nav.calendar-nav {
    height: auto;
    line-height: 20px;
}
.custom-header nav span {
    position: absolute;
    top: 17px;
    width: 30px;
    height: 30px;
    color: transparent;
    cursor: pointer;
    margin: 0 1px;
    font-size: 20px;
    line-height: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.custom-header nav span:first-child {   left: 5px;}
.custom-header nav span:last-child {    right: 5px;}
.custom-header nav span:before {
    font-family: 'fontawesome-selected';
    color: #FFF;
    position: absolute;
    text-align: center;
    width: 100%;
}
.custom-header nav span.custom-prev:before {    content: '\25c2';}
.custom-header nav span.custom-next:before {    content: '\25b8';}
.custom-header nav span:hover:before {  color: #495468;}
.custom-content-reveal {
    background: #f6f6f6;
    background: rgba(246, 246, 246, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0px;
    text-align: center;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.custom-content-reveal span.custom-content-close {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #ef4f69;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    line-height: 13px;
    padding: 0;
}
.custom-content-reveal span.custom-content-close:after {
    content: 'x';
    font-size: 18px;
    color: #fff;
}
.custom-content-reveal a, .custom-content-reveal span {
    font-size: 22px;
    padding: 10px 30px;
    display: block;
}
.custom-content-reveal h4 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #777;
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-top: 5px solid #ef4f69;
    box-shadow: 0 1px rgba(255,255,255,0.9);
    margin-bottom: 30px;
}
.custom-content-reveal span {   color: #888;}
.custom-content-reveal a {  color: #ef4f69;}
.custom-content-reveal a:hover {    color: #333;}

/* Modifications */
.fc-calendar-container {
    height: 400px;
    width: auto;
    padding: 30px;
    background: #f6f6f6;
    box-shadow: inset 0 1px rgba(255,255,255,0.8);
}
.fc-calendar .fc-head {
    background: transparent;
    color: #4dbed5;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}
.fc-calendar .fc-row > div {
    background: #fff;
    cursor: pointer;
}
.fc-calendar .fc-row > div:empty {
    background: transparent;
}
.fc-calendar .fc-row > div > span.fc-date {
    top: 50%;
    left: 50%;
    text-align: center;
    margin: -10px 0 0 -15px;
    color: #686a6e;
    font-weight: 400;
    pointer-events: none;
}
.fc-calendar .fc-row > div.fc-today {
    background: #4dbed5;
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0.1);
}
.fc-calendar .fc-row > div.fc-today > span.fc-date {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.fc-calendar .fc-row > div.fc-content:after {
    content: '\00B7';
    text-align: center;
    width: 20px;
    margin-left: -10px;
    position: absolute;
    color: #DDD;
    font-size: 70px;
    line-height: 20px;
    left: 50%;
    bottom: 3px;
}
.fc-calendar .fc-row > div.fc-today.fc-content:after {  color: #b02c42;}
.fc-calendar .fc-row > div.fc-content:hover:after{  color: #ef4f69;}
.fc-calendar .fc-row > div.fc-today.fc-content:hover:after{ color: #fff;}
.fc-calendar .fc-row > div > div a, .fc-calendar .fc-row > div > div span {
    display: none;
    font-size: 22px;
}
@media screen and (max-width: 400px) {
    .fc-calendar-container {        height: 300px;  }
    .fc-calendar .fc-row > div > span.fc-date {     font-size: 15px;    }
}
.bk-list-calendar {
    margin: 10px 0;
    padding: 0 15px;
    position: relative;
}

.list-container {
    position: relative;
    display: block;
    background: #fff;
    overflow: hidden;
    border-radius: 3px;
    min-height: 470px;
}

.list-container thead {
    /* background: #4dbed5; */
    /* border: 0; */
}

.list-container thead th {
    border: 0;
    border-radius: 0;
    padding: 15px 10px;
    /* color: #fff; */
    font-weight: 600;
    text-transform: capitalize;
    /* height: 69px; */
}
.list-container tbody {
    /* background: #f9f9f9; */
}

.list-container tbody td {
    text-align: center;
    border-right: 1px solid #f2f2f2;
}
.list-container tbody tr {
    /* border-bottom: 1px solid #f1f1f1; */
}

.list-container tbody tr:nth-child(odd) {
    /* background: #ffffff; */
}
.list-container ul.none {
    float: none;
    margin-top: 50px;
}

.list-container .pagination li {
    font-size: 12px;
    line-height: 24px;
}

.list-container .pagination li i {
    font-size: 15px;
}

.list-container .pagination li.disabled a {
    color: #d7d7d7;
}
.list-container .pagination li.active {
    background-color: #4dbed5;
}
.side-nav {
    transition: .3s;
}
.side-nav.hide-nav {
    transform: translateX(-105%);
    transition: .3s;
}

.full-left {
    padding-left: 0;
    transition: .3s;
}

.toggle-sidenav.margin0 {
    margin-left: 35px;
}

main .fc-calendar .fc-row > div > span.fc-date {
    font-size: 12px;
}

main.full-left .fc-calendar .fc-row > div > span.fc-date {
    font-size: 14px;
}
.table-db {
    margin: 10px 0;
    position: relative;
}

.table-db thead th {
    padding: 15px 10px;
    /* height: 50px; */
    text-align: center;
}

.header-title {
    position: relative;
    display: block;
    margin-bottom: 0;
    padding: 0 20px;
}

.mt20 {
    margin-top: 20px;
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 0 10px;
}
.mt20 .col.s6 {
    padding: 0;
}
.container-content {
    padding: 0 7px;
    margin-bottom: 15px;
}
.user-info-content {
    display: table;
    cursor: default;
    min-height: 270px;
    width: 100%;
}
.heading-subtitle {
    display: flex;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

span.totals_invoice {
    display: inline-flex;
    align-items: center;
    background: #4cbed5;
    padding: 5px 10px;
    color: #fff;
}
.user-subcontent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.group-row {
    display: flex;
    position: relative;
    margin-bottom: 10px;
}

.general-info {position: relative;}

.general-info:first-child {
    width: 25%;
    margin-right: 20px;
}
.rows {
    display: block;
    position: relative;
}
.bk-statistics {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.bk-statistics:last-child {
    border: 0;
}
.bk-statistics .general-info:first-child {
    width: 120px;
}

.bk-stt-past {
    display: block;
    margin-bottom: 30px;
    position: relative;
}

.bk-stt-past a {
    background-color: #363635 !important;
    box-shadow: none;
}
.btn-credits {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    background: #363635;
    color: #fff;
}
table {
    position: relative;
    border: 1px solid #eee;
}

table thead {
    border-bottom: 0;
    /* background-color: #4dbed5; */
    /* color: #fff; */
}

table thead th {
    border-radius: 0;
    padding: 15px 10px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}
table td {
    padding: 10px;
    font-size: 14px;
    color: #666;
    border-right: 1px solid #f2f2f2;
    text-align: center;
}

table td:last-child {
  border: 0;
}
table tr {
    border-bottom: 1px solid #f2f2f2;
}
table thead tr {
    background-color: transparent !important;
}
.ab-right {
    position: absolute;
    top: -50px;
    right: 0;
}

.ab-right a {
    background-color: #4cbed5 !important;
    box-shadow: none;
}

.cluster-container {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 30px;
}

.cluster-size {
    width: 33%;
    position: relative;
    display: flex;
}

.cluster-selecter {
    display: flex;
    position: relative;
    width: 100%;
}

.cluster-selecter p {
    margin-bottom: 15px;
}

.cluster-selecter p label {
    color: #222;
}
.clus-checkbox.w30 {
    width: 30%;
}

.clus-graphic {
    width: 66.6%;
}

.table tr.hl-today {
    background-color: #e5ffff;
}

.table tr.hl-today td {
    border-radius: 0 !important;
}
.add_booking {
    display: inline-block;
    margin: 10px 0;
    color: #4dbed5;
}
.form_add_bk {
    display: table;
    width: 100%;
    position: relative;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 35px;
}
.form_group {
    margin-bottom: 15px;
    display: table;
    width: 100%;
}
.shawdown-none {
    box-shadow: none;
}
.header-filter {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
}

.filter-results {
    display: inline-flex;
    margin-right: 15px;
    position: relative;
    text-transform: capitalize;
}

.filter-stt {
    width: 25%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.filter-title {
    margin-right: 15px;
}

.sl-stt input {
    margin-bottom: 0 !important;
}
.bk-date {
    display: block;
}

.bk-date a {
    display: block;
    margin-bottom: 10px;
}


.easy-autocomplete-container {
    background: #fff;
    position: absolute;
    left: 10px;
    right: 10px;
    z-index: 2;
}
.easy-autocomplete-container ul {
    margin: 0;
}
.easy-autocomplete-container ul li .eac-item {
    display: block;
    padding: 10px 15px;
    color: #222;
    text-transform: capitalize;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
.docv-us-search .input-field label.search_label.active {
    left: 0;
}
.easy-autocomplete-container ul li div b {
    color: #4cbed5;
    font-weight: 400;
}
.docv-us-search .press-hide {
    margin-left: 3rem !important;
    width: calc(100% - 3rem) !important;
    display: none;
}
.docv-us-search .press-hide.show {
    display: block;
}
@media screen and (max-height: 768px) {
    .easy-autocomplete-container ul {
        max-height: 230px;
        overflow: auto;
    }
}
.form_container {
    display: table;
    max-width: 90%;
    width: 100%;
    border-radius: 4px;
    margin: 0 auto;
}

.clearfix:before {
    content: "";
    display: table;
}

.input-group {
    position: relative;
    background: #f8f8f8;
    padding: 0;
    border-radius: 2px;
    display: block;
    border: 1px solid #ccc;
}

.input-group input {
    margin-bottom: 0 !important;
    font-size: 13px !important;
    height: 50px !important;
    line-height: 50px !important;
    border: 0 !important;
    box-sizing: border-box !important;
    padding: 10px 10px !important;
}

.input-group label.active {
    font-size: 13px;
    -webkit-transform: translateY(-10px);
    transform: translateY(-5px);
}

.input-group label, .input-group label.select-label {
    transform: translateY(12px);
    font-size: 13px;
    color: #303030 !important;
}
.input-group label.select-label {
    transform: translateY(18px);
}
.add_new_date {
    position: absolute;
    right: -45px;
    top: 39px;
    width: 35px;
    height: 35px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    background: #4dbed5;
    border-radius: 5px;
}

.row-group {
    position: relative;
}

.add_new_date a {
    color: #fff;
    line-height: 16px;
}
.action-button {
    text-align: right;
    display: block;
    margin: 50px 10px 0px;
}

.action-button button {
    margin-left: 10px;
}
.label-head {
    display: block;
    padding: 5px 10px;
    background: #e9e9e9;
    border-bottom: 1px solid #ccc;
}
.space-detail {
    position: absolute;
    z-index: 1;
    background: #fff;
    width: 250px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.14);
    right: 0px;
    display: none;
}

.space-dt-content {
    display: block;
    position: relative;
    height: 165px;
    overflow: hidden;
}

.space-dt-content img {
    width: 100%;
}
.caption-sp {
    position: relative;
    padding: 10px;
}

.space-dt-name {
    font-weight: 600;
    line-height: 1.6;
}
.space-dt-if {
    display: flex;
    font-size: 11px;
    color: #999;
    margin-top: 5px;
    align-items: center;
    justify-content: space-between;
}

.space-dt-if span {
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
}

.space-dt-if span i {
    font-size: 15px;
}
span.price_sp {
    font-weight: 600;
    color: #4cbed5;
    font-size: 14px;
}
.preview-space {
    position: absolute;
    right: 10px;
    top: 48px;
    color: #999;
    cursor: pointer;
}

.space-detail:before {
    content: "";
    width: 14px;
    height: 14px;
    background: #fff;
    top: -10px;
    position: absolute;
    display: inline-block;
    transform: rotate(45deg);
    right: 13px;
    border: 1px solid #f8f8f8;
}

.show {
    display: block;
}
[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #4cbed5;
    border-bottom: 2px solid #4cbed5;
}
.filter_result {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.filter-ct4 {
    width: 23%;
    display: block;
}

.input-field input {
    border-bottom: 0 !important;
    padding: 0 10px !important;
    background: #f6f6f6 !important;
    border-radius: 4px;
    box-sizing: border-box;
}
.input-field label.lb-select {
    top: -22px;
    left: 0;
    font-size: 13px;
}
.justify-custom {
    justify-content: flex-start;
}

.justify-custom .filter-ct4 {
    margin-right: 10px;
    padding: 0 10px;
}

.header_bk {
    margin-bottom: 15px;
}

.space-images {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: auto;
}

.img-inline {
    width: 24% !important;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    margin: 0 5px 0 0;
}

.img-inline img {
    width: 100%;
}
.about-parking p {
    margin-bottom: 15px;
    width: 49%;
    display: inline-flex;
}
.row-subcontent p {
  margin-bottom: 15px;
}
.fl-50 {
    display: inline-flex;
    flex-direction: column;
    width: 49%;
}

.fl-50 p {
    margin-bottom: 10px;
}
.padding-0 {
    padding: 0 !important;
}
.padding-35 {
    padding-left: 35px;
}
.general-info span {
    display: block;
    margin-bottom: 10px;
}
.center {
    text-align: center;
}
.add_seating_type {
    display: table;
    width: 100%;
    padding: 0 10px;
    margin: 10px -20px;
    position: relative;
}

.filter-ct6 {
    padding: 0 20px !important;
}
.input-field label.active {
    transform: translateY(-32px);
    left: 0;
}

.business_match {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    overflow: auto;
    display: none;
}

.business_match .container-content {
    max-width: 1024px;
    margin: 50px auto 0;
    position: relative;
}

.business_match:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.business_match.open {
    display: block;
}
.business_match button.close {
    border: 0;
    background: 0;
    position: absolute;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    top: 0;
    outline: none;
}
.target_match {
    display: block;
    color: #222;
}
.action-form {
    display: block;
    position: relative;
    text-align: center;
}

.action-form a {
    display: inline-block;
    margin: 5px 10px;
}

.action-form a:last-child {
    color: #F44336;
}
.mb15 {
    margin-bottom: 15px;
}

.w30 {
    width: 30%;
}

.sidenav {
    position: fixed;
    width: 300px;
    right: 0;
    top: 55px;
    margin: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
}
.notifications_sidenav {
    transition: .3s;
}

.side-shadow {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul.notifications.full-height {
    height: auto;
    padding-left: 35px;
}

.notifications_sidenav .notifications-subcontainer {
    box-shadow: none;
    padding: 20px 10px;
    background: transparent;
}

.notifications_sidenav .notifications-subcontainer a {
    font-size: 13px;
}

ul.notifications.full-height:before {
    border-color: #e9e9e9;
    border-width: 0 0 0 1px;
    left: 12px;
}
.table-clearfix {
    display: table;
    width: 100%;
}

.table-clearfix .tabs .tab a {
    color: #222;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 0px;
    position: relative;
}
span.badge-nt {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #4cbed5;
    position: absolute;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 11px;
    border-radius: 10px;
    top: 10px;
    right: 5px;
}
a.sidenav-trigger {
    color: #ffffff;
}
.sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 997;
    will-change: opacity;
    opacity: 0;
    visibility: hidden;
}
header {
    position: relative;
    z-index: 998;
}

.cluster-size.w40 {
    width: 40%;
}
.cluster-content {
    width: 100%;
}
.cluster-size.w40 .user-subcontent {
    width: 100%;
}

.general-info input {
    margin: 0;
    border: 0;
    background: #f6f6f6;
    border-radius: 4px;
    padding: 0 10px;
}

.cluster-size.w40 .general-info:first-child {
    width: 30%;
} 

.clus-graphic.w60 {
    width: 60%;
}

.clus-graphic.w60 .clus-checkbox {
    width: 50%;
}
.clus-graphic.w60 .clus-checkbox input {
    margin: 0;
    background: #f6f6f6;
    border: 0;
    border-radius: 4px;
    margin-left: 10px;
    width: 50%;
    height: 35px;
    padding: 0 10px;
    font-size: 13px;
}
.clus-checkbox.fl-col {
    display: table;
    position: relative;
    width: 100%;
}

.clus-checkbox.fl-col p {
    width: 33%;
    display: inline-flex;
}
.vertify-content {
    display: block;
    text-align: right;
    margin-top: 30px;
}
.grey {
    color: #222;
}
.easy-autocomplete-container ul li div .custom-easy {
    padding: 0;
    display: flex;
    justify-content: space-between;
    border: 0;
    position: relative;
    align-items: flex-start;
}

.easy-autocomplete-container ul li div .custom-easy .custom-image {
    display: inline-flex;
    min-width: 80px;
    position: relative;
    align-items: center;
    margin-right: 10px;
}
.easy-autocomplete-container ul li div .custom-easy .custom-image img {
    height: 50px;
}
.easy-autocomplete-container ul li div .custom-easy .custom-info {
    width: calc(100%  - 100px);
    display: inline-flex;
    font-size: 13px;
    flex-direction: column;
    color: #777;
}

.easy-autocomplete-container ul li div .custom-easy .custom-price {
    display: inline-flex;
    line-height: 50px;
    font-size: 15px;
    color: #4cbed5;
    font-weight: 600;
}

.easy-autocomplete-container ul li div .custom-easy .custom-info .custom-name {
    font-size: 14px;
    color: #222;
    padding-left: 3px;
    margin-bottom: 2px;
}

span.custom-address i {
    font-size: 15px;
    margin-right: 5px;
}

span.custom-address {
    display: flex;
    align-items: center;
}

.collapsible_report {
    box-shadow: none;
    border: 0;
} 
.collapsible_report li {
    margin-bottom: 15px;
    border: 1px solid #d8d8d8;
    outline: none;
}

.collapsible_report .collapsible-header {
    border-bottom: 0;
    outline: none;
}

.collapsible_report .collapsible-body {
    border-top: 1px solid #d8d8d8;
    padding: 1.5rem;
    border-bottom: 0;
}
.space_heading_title {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.sp-name_left , .sp-total_right {
    font-weight: 600;
}
.mt-30 {
    margin-top: 30px;
}

.table-sm {
    width: 300px;
    margin-left: auto;
    border: 0;
}

.table-sm tr, .table-sm td {
    border: 0;
}

.table-sm td {
    text-align: left;
    font-weight: 600;
    color: #333;
}

.table-sm td:last-child {
    text-align: center;
}
.t-r {
    text-align: right;
}

.option-iv {
    margin: 30px 0;
}

.btn-email {
    background-color: #363635 !important;
}

.btn-pdf {
    background: #FF9800 !important;
}